<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.sm.businesssend.dao.IBusinessSendDao">

	<parameterMap id="businessSendParam" type="com.bs.plugins.custom.sm.businesssend.entity.BusinessSend" />
	<resultMap id="businessSendResult" type="com.bs.plugins.custom.sm.businesssend.entity.BusinessSend">
		<id property="id" column="businessSend_id" javaType="java.lang.Long" />
		<result property="mobilePhone" column="businessSend_mobilePhone" javaType="java.lang.String" />
		<result property="memberId" column="businessSend_memberId" javaType="java.lang.Long" />
		<result property="content" column="businessSend_content" javaType="java.lang.String" />
		<result property="businessCode" column="businessSend_businessCode" javaType="java.lang.String" />
		<result property="spCode" column="businessSend_spCode" javaType="java.lang.String" />
		<result property="isRetry" column="businessSend_isRetry" javaType="java.lang.Integer" />
		<result property="retryCount" column="businessSend_retryCount" javaType="java.lang.Integer" />
		<result property="messageSerial" column="businessSend_messageSerial" javaType="java.lang.String" />
		<result property="status" column="businessSend_status" javaType="java.lang.Integer" />
		<result property="statusReport" column="businessSend_statusReport" javaType="java.lang.Integer" />
		<result property="statements" column="businessSend_statements" javaType="java.lang.String" />
		<result property="type" column="businessSend_type" javaType="java.lang.String" />
		<result property="totalCount" column="businessSend_totalCount" javaType="java.lang.Integer" />
		<result property="sendTime" column="businessSend_sendTime" javaType="java.lang.String" />
		<result property="createTime" column="businessSend_createTime" javaType="java.lang.String" />
		<result property="timeout" column="businessSend_timeout" javaType="java.lang.Long" />
		<result property="originTime" column="businessSend_originTime" javaType="java.lang.Long" />
	</resultMap>
	
	
	
	
	
	
	
	<select id="selectList" resultMap="businessSendResult" parameterMap="businessSendParam">
		select 
			Id businessSend_id,
			MobilePhone businessSend_mobilePhone,
			MemberId businessSend_memberId,
			Content businessSend_content,
			BusinessCode businessSend_businessCode,
			SpCode businessSend_spCode,
			IsRetry businessSend_isRetry,
			RetryCount businessSend_retryCount,
			MessageSerial businessSend_messageSerial,
			Status businessSend_status,
			StatusReport businessSend_statusReport,
			Statements businessSend_statements,
			Type businessSend_type,
			TotalCount businessSend_totalCount,
			SendTime businessSend_sendTime,
			CreateTime businessSend_createTime,
			Timeout businessSend_timeout,
			OriginTime businessSend_originTime
		from SM_BusinessSend
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="mobilePhone != null and mobilePhone != ''">and MobilePhone=#{mobilePhone}</if>
				<if test="memberId != null">and MemberId=${memberId}</if>
				<if test="content != null and content != ''">and Content=#{content}</if>
				<if test="businessCode != null and businessCode != ''">and BusinessCode=#{businessCode}</if>
				<if test="spCode != null and spCode != ''">and SpCode=#{spCode}</if>
				<if test="isRetry != null">and IsRetry=${isRetry}</if>
				<if test="retryCount != null">and RetryCount=${retryCount}</if>
				<if test="messageSerial != null and messageSerial != ''">and MessageSerial=#{messageSerial}</if>
				<if test="status != null">and Status=${status}</if>
				<if test="statusReport != null">and StatusReport=${statusReport}</if>
				<if test="statements != null and statements != ''">and Statements=#{statements}</if>
				<if test="type != null and type != ''">and Type=#{type}</if>
				<if test="totalCount != null">and TotalCount=${totalCount}</if>
				<if test="sendTime != null and sendTime != ''">and SendTime=#{sendTime}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="timeout != null">and Timeout=${timeout}</if>
				<if test="originTime != null">and OriginTime=${originTime}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectAll" resultMap="businessSendResult">
		select 
			Id businessSend_id,
			MobilePhone businessSend_mobilePhone,
			MemberId businessSend_memberId,
			Content businessSend_content,
			BusinessCode businessSend_businessCode,
			SpCode businessSend_spCode,
			IsRetry businessSend_isRetry,
			RetryCount businessSend_retryCount,
			MessageSerial businessSend_messageSerial,
			Status businessSend_status,
			StatusReport businessSend_statusReport,
			Statements businessSend_statements,
			Type businessSend_type,
			TotalCount businessSend_totalCount,
			SendTime businessSend_sendTime,
			CreateTime businessSend_createTime,
			Timeout businessSend_timeout,
			OriginTime businessSend_originTime
		from SM_BusinessSend
	</select>
	
	<select id="selectOneById"  resultMap="businessSendResult" parameterMap="businessSendParam">
		select 
			Id businessSend_id,
			MobilePhone businessSend_mobilePhone,
			MemberId businessSend_memberId,
			Content businessSend_content,
			BusinessCode businessSend_businessCode,
			SpCode businessSend_spCode,
			IsRetry businessSend_isRetry,
			RetryCount businessSend_retryCount,
			MessageSerial businessSend_messageSerial,
			Status businessSend_status,
			StatusReport businessSend_statusReport,
			Statements businessSend_statements,
			Type businessSend_type,
			TotalCount businessSend_totalCount,
			SendTime businessSend_sendTime,
			CreateTime businessSend_createTime,
			Timeout businessSend_timeout,
			OriginTime businessSend_originTime
		from SM_BusinessSend where Id=${id}
	</select>		
	
	<select id="selectPaginatedList"  resultMap="businessSendResult" parameterMap="businessSendParam">
		select 
			Id businessSend_id,
			MobilePhone businessSend_mobilePhone,
			MemberId businessSend_memberId,
			Content businessSend_content,
			BusinessCode businessSend_businessCode,
			SpCode businessSend_spCode,
			IsRetry businessSend_isRetry,
			RetryCount businessSend_retryCount,
			MessageSerial businessSend_messageSerial,
			Status businessSend_status,
			StatusReport businessSend_statusReport,
			Statements businessSend_statements,
			Type businessSend_type,
			TotalCount businessSend_totalCount,
			SendTime businessSend_sendTime,
			CreateTime businessSend_createTime,
			Timeout businessSend_timeout,
			OriginTime businessSend_originTime
		from SM_BusinessSend
		order by Id asc
		limit ${start},${offset}
	</select>
	
	<select id="getCount"  resultType="long" parameterMap="businessSendParam">
		select count(*) from SM_BusinessSend
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="mobilePhone != null and mobilePhone != ''">and MobilePhone=#{mobilePhone}</if>
				<if test="memberId != null">and MemberId=${memberId}</if>
				<if test="content != null and content != ''">and Content=#{content}</if>
				<if test="businessCode != null and businessCode != ''">and BusinessCode=#{businessCode}</if>
				<if test="spCode != null and spCode != ''">and SpCode=#{spCode}</if>
				<if test="isRetry != null">and IsRetry=${isRetry}</if>
				<if test="retryCount != null">and RetryCount=${retryCount}</if>
				<if test="messageSerial != null and messageSerial != ''">and MessageSerial=#{messageSerial}</if>
				<if test="status != null">and Status=${status}</if>
				<if test="statusReport != null">and StatusReport=${statusReport}</if>
				<if test="statements != null and statements != ''">and Statements=#{statements}</if>
				<if test="type != null and type != ''">and Type=#{type}</if>
				<if test="totalCount != null">and TotalCount=${totalCount}</if>
				<if test="sendTime != null and sendTime != ''">and SendTime=#{sendTime}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="timeout != null">and Timeout=${timeout}</if>
				<if test="originTime != null">and OriginTime=${originTime}</if>
			</trim>
		</where>	
	</select>
	
	<update id="updateById" parameterMap="businessSendParam">
		update SM_BusinessSend
		<set>
			<trim prefixOverrides=",">
				<if test="id != null">,Id=${id}</if>
				<if test="mobilePhone != null and mobilePhone != ''">,MobilePhone=#{mobilePhone}</if>
				<if test="memberId != null">,MemberId=${memberId}</if>
				<if test="content != null and content != ''">,Content=#{content}</if>
				<if test="businessCode != null and businessCode != ''">,BusinessCode=#{businessCode}</if>
				<if test="spCode != null and spCode != ''">,SpCode=#{spCode}</if>
				<if test="isRetry != null">,IsRetry=${isRetry}</if>
				<if test="retryCount != null">,RetryCount=${retryCount}</if>
				<if test="messageSerial != null and messageSerial != ''">,MessageSerial=#{messageSerial}</if>
				<if test="status != null">,Status=${status}</if>
				<if test="statusReport != null">,StatusReport=${statusReport}</if>
				<if test="statements != null and statements != ''">,Statements=#{statements}</if>
				<if test="type != null and type != ''">,Type=#{type}</if>
				<if test="totalCount != null">,TotalCount=${totalCount}</if>
               		 <if test="sendTime != null  and sendTime != ''">,SendTime=#{sendTime}</if>
               		 <if test="createTime != null  and createTime != ''">,CreateTime=#{createTime}</if>
				<if test="timeout != null">,Timeout=${timeout}</if>
				<if test="originTime != null">,OriginTime=${originTime}</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	<update id="updateCompleteById" parameterMap="businessSendParam">
		update SM_BusinessSend
		<set>
			<trim prefixOverrides=",">
                            ,Id=${id}
						,MobilePhone=#{mobilePhone}
                            ,MemberId=${memberId}
						,Content=#{content}
						,BusinessCode=#{businessCode}
						,SpCode=#{spCode}
                    	<if test="isRetry != null">,IsRetry=${isRetry}</if>
                        <if test="isRetry == null">,IsRetry= 0</if>
                    	<if test="retryCount != null">,RetryCount=${retryCount}</if>
                        <if test="retryCount == null">,RetryCount= 0</if>
						,MessageSerial=#{messageSerial}
                    	<if test="status != null">,Status=${status}</if>
                        <if test="status == null">,Status= 0</if>
                    	<if test="statusReport != null">,StatusReport=${statusReport}</if>
                        <if test="statusReport == null">,StatusReport= 0</if>
						,Statements=#{statements}
						,Type=#{type}
                        <if test="totalCount != null">,TotalCount=${totalCount}</if>
                        <if test="totalCount == null">,TotalCount= 0</if>
                        <if test="sendTime != null  and sendTime != ''">,SendTime=#{sendTime}</if>
                            ,Timeout=${timeout}
                            ,OriginTime=${originTime}
			</trim>
		</set>
		where Id=${id}
	</update>
	
	<insert id="insert" parameterMap="businessSendParam">
		insert into SM_BusinessSend
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,Id</if>
			<if test="mobilePhone != null and mobilePhone != ''">,MobilePhone</if>
			<if test="memberId != null">,MemberId</if>
			<if test="content != null and content != ''">,Content</if>
			<if test="businessCode != null and businessCode != ''">,BusinessCode</if>
			<if test="spCode != null and spCode != ''">,SpCode</if>
			<if test="isRetry != null">,IsRetry</if>
			<if test="retryCount != null">,RetryCount</if>
			<if test="messageSerial != null and messageSerial != ''">,MessageSerial</if>
			<if test="status != null">,Status</if>
			<if test="statusReport != null">,StatusReport</if>
			<if test="statements != null and statements != ''">,Statements</if>
			<if test="type != null and type != ''">,Type</if>
			<if test="totalCount != null">,TotalCount</if>
                <if test="sendTime != null and sendTime != ''">,SendTime</if>
                ,CreateTime
			<if test="timeout != null">,Timeout</if>
			<if test="originTime != null">,OriginTime</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,${id}</if>
			<if test="mobilePhone != null and mobilePhone != ''">,#{mobilePhone}</if>
			<if test="memberId != null">,${memberId}</if>
			<if test="content != null and content != ''">,#{content}</if>
			<if test="businessCode != null and businessCode != ''">,#{businessCode}</if>
			<if test="spCode != null and spCode != ''">,#{spCode}</if>
			<if test="isRetry != null">,${isRetry}</if>
			<if test="retryCount != null">,${retryCount}</if>
			<if test="messageSerial != null and messageSerial != ''">,#{messageSerial}</if>
			<if test="status != null">,${status}</if>
			<if test="statusReport != null">,${statusReport}</if>
			<if test="statements != null and statements != ''">,#{statements}</if>
			<if test="type != null and type != ''">,#{type}</if>
			<if test="totalCount != null">,${totalCount}</if>
            	<if test="sendTime != null and sendTime != ''">,#{sendTime}</if>
                ,now()
			<if test="timeout != null">,${timeout}</if>
			<if test="originTime != null">,${originTime}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>	
	</insert>
	
	<delete id="deleteById" parameterMap="businessSendParam">
		delete from SM_BusinessSend where Id=${id}
	</delete>
	
	<delete id="deleteAll" parameterMap="businessSendParam">
		delete from SM_BusinessSend
	</delete>
	
	<delete id="delete" parameterMap="businessSendParam">
		delete from SM_BusinessSend
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="mobilePhone != null and mobilePhone != ''">and MobilePhone=#{mobilePhone}</if>
				<if test="memberId != null">and MemberId=${memberId}</if>
				<if test="content != null and content != ''">and Content=#{content}</if>
				<if test="businessCode != null and businessCode != ''">and BusinessCode=#{businessCode}</if>
				<if test="spCode != null and spCode != ''">and SpCode=#{spCode}</if>
				<if test="isRetry != null">and IsRetry=${isRetry}</if>
				<if test="retryCount != null">and RetryCount=${retryCount}</if>
				<if test="messageSerial != null and messageSerial != ''">and MessageSerial=#{messageSerial}</if>
				<if test="status != null">and Status=${status}</if>
				<if test="statusReport != null">and StatusReport=${statusReport}</if>
				<if test="statements != null and statements != ''">and Statements=#{statements}</if>
				<if test="type != null and type != ''">and Type=#{type}</if>
				<if test="totalCount != null">and TotalCount=${totalCount}</if>
				<if test="sendTime != null and sendTime != ''">and SendTime=#{sendTime}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="timeout != null">and Timeout=${timeout}</if>
				<if test="originTime != null">and OriginTime=${originTime}</if>
			</trim>
		</where>	
	</delete>
</mapper>