<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.tc.subscriptioncontract.dao.ISubscriptionContractDao">

	<parameterMap id="subscriptionContractParam" type="com.bs.plugins.custom.tc.subscriptioncontract.entity.SubscriptionContract" />
	<resultMap id="subscriptionContractResult" type="com.bs.plugins.custom.tc.subscriptioncontract.entity.SubscriptionContract">
		<id property="id" column="subscriptionContract_id" javaType="java.lang.Long" />
		<result property="transactionNumber" column="subscriptionContract_transactionNumber" javaType="java.lang.String" />
		<result property="contractTemplateId" column="subscriptionContract_contractTemplateId" javaType="java.lang.Long" />
		<result property="contactNumber" column="subscriptionContract_contactNumber" javaType="java.lang.String" />
		<result property="remark" column="subscriptionContract_remark" javaType="java.lang.String" />
		<association property="subscription" javaType="com.bs.plugins.custom.tc.subscription.entity.Subscription">
			<id property="id" column="subscription_id" javaType="java.lang.Long" />
			<result property="memberId" column="subscription_memberId" javaType="java.lang.Long" />
			<result property="spvId" column="subscription_spvId" javaType="java.lang.Long" />
			<result property="loanId" column="subscription_loanId" javaType="java.lang.Long" />
			<result property="loanNumber" column="subscription_loanNumber" javaType="java.lang.String" />
			<result property="productId" column="subscription_productId" javaType="java.lang.Long" />
			<result property="amountLockId" column="subscription_amountLockId" javaType="java.lang.Long" />
			<result property="transactionNumber" column="subscription_transactionNumber" javaType="java.lang.String" />
			<result property="payPlantformNumber" column="subscription_payPlantformNumber" javaType="java.lang.String" />
			<result property="umpayProductAccountNo" column="subscription_umpayProductAccountNo" javaType="java.lang.String" />
			<result property="productName" column="subscription_productName" javaType="java.lang.String" />
			<result property="productCode" column="subscription_productCode" javaType="java.lang.String" />
			<result property="tradeStatus" column="subscription_tradeStatus" javaType="java.lang.Integer" />
			<result property="investAmount" column="subscription_investAmount" javaType="java.math.BigDecimal" />
			<result property="shares" column="subscription_shares" javaType="java.lang.Integer" />
			<result property="orderTime" column="subscription_orderTime" javaType="java.lang.String" />
			<result property="interestRateDate" column="subscription_interestRateDate" javaType="java.lang.String" />
			<result property="paymentDate" column="subscription_paymentDate" javaType="java.lang.String" />
			<result property="expectedExpirationDate" column="subscription_expectedExpirationDate" javaType="java.lang.String" />
			<result property="actualExpirationDate" column="subscription_actualExpirationDate" javaType="java.lang.String" />
			<result property="expectedProfitRatio" column="subscription_expectedProfitRatio" javaType="java.math.BigDecimal" />
			<result property="expectedProfit" column="subscription_expectedProfit" javaType="java.math.BigDecimal" />
			<result property="spvServiceFee" column="subscription_spvServiceFee" javaType="java.math.BigDecimal" />
			<result property="spvServiceFeeRatio" column="subscription_spvServiceFeeRatio" javaType="java.math.BigDecimal" />
			<result property="actualLoanAmount" column="subscription_actualLoanAmount" javaType="java.math.BigDecimal" />
			<result property="loanTime" column="subscription_loanTime" javaType="java.lang.String" />
			<result property="loanStatus" column="subscription_loanStatus" javaType="java.lang.Integer" />
			<result property="status" column="subscription_status" javaType="java.lang.Integer" />
			<result property="distributeStatus" column="subscription_distributeStatus" javaType="java.lang.Integer" />
			<result property="distributeTime" column="subscription_distributeTime" javaType="java.lang.String" />
			<result property="isBuyBack" column="subscription_isBuyBack" javaType="java.lang.Integer" />
			<result property="checkingStatus" column="subscription_checkingStatus" javaType="java.lang.Integer" />
			<result property="checkingTime" column="subscription_checkingTime" javaType="java.lang.String" />
			<result property="contractPath" column="subscription_contractPath" javaType="java.lang.String" />
			<result property="remark" column="subscription_remark" javaType="java.lang.String" />
		</association>
	</resultMap>
	
	<select id="selectAssociations" resultMap="subscriptionContractResult" parameterMap="subscriptionContractParam">
		select
			subscriptionContract.Id subscriptionContract_id,
			subscriptionContract.TransactionNumber subscriptionContract_transactionNumber,
			subscriptionContract.ContractTemplateId subscriptionContract_contractTemplateId,
			subscriptionContract.ContactNumber subscriptionContract_contactNumber,
			subscriptionContract.Remark subscriptionContract_remark,	
			subscription.Id subscription_id,
			subscription.MemberId subscription_memberId,
			subscription.SpvId subscription_spvId,
			subscription.LoanId subscription_loanId,
			subscription.LoanNumber subscription_loanNumber,
			subscription.ProductId subscription_productId,
			subscription.AmountLockId subscription_amountLockId,
			subscription.TransactionNumber subscription_transactionNumber,
			subscription.PayPlantformNumber subscription_payPlantformNumber,
			subscription.UmpayProductAccountNo subscription_umpayProductAccountNo,
			subscription.ProductName subscription_productName,
			subscription.ProductCode subscription_productCode,
			subscription.TradeStatus subscription_tradeStatus,
			subscription.InvestAmount subscription_investAmount,
			subscription.Shares subscription_shares,
			subscription.OrderTime subscription_orderTime,
			subscription.InterestRateDate subscription_interestRateDate,
			subscription.PaymentDate subscription_paymentDate,
			subscription.ExpectedExpirationDate subscription_expectedExpirationDate,
			subscription.ActualExpirationDate subscription_actualExpirationDate,
			subscription.ExpectedProfitRatio subscription_expectedProfitRatio,
			subscription.ExpectedProfit subscription_expectedProfit,
			subscription.SpvServiceFee subscription_spvServiceFee,
			subscription.SpvServiceFeeRatio subscription_spvServiceFeeRatio,
			subscription.ActualLoanAmount subscription_actualLoanAmount,
			subscription.LoanTime subscription_loanTime,
			subscription.LoanStatus subscription_loanStatus,
			subscription.Status subscription_status,
			subscription.DistributeStatus subscription_distributeStatus,
			subscription.DistributeTime subscription_distributeTime,
			subscription.IsBuyBack subscription_isBuyBack,
			subscription.CheckingStatus subscription_checkingStatus,
			subscription.CheckingTime subscription_checkingTime,
			subscription.ContractPath subscription_contractPath,
			subscription.Remark subscription_remark
		from TC_SubscriptionContract subscriptionContract
		inner join TC_Subscription subscription on subscription.TransactionNumber=subscriptionContract.TransactionNumber
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">and ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">and ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">and Remark=#{remark}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectSubscriptionContractSubscription" resultMap="subscriptionContractResult" parameterMap="subscriptionContractParam">
		select
			subscriptionContract.Id subscriptionContract_id,
			subscriptionContract.TransactionNumber subscriptionContract_transactionNumber,
			subscriptionContract.ContractTemplateId subscriptionContract_contractTemplateId,
			subscriptionContract.ContactNumber subscriptionContract_contactNumber,
			subscription.Id subscription_id,
			subscription.MemberId subscription_memberId,
			subscription.SpvId subscription_spvId,
			subscription.LoanId subscription_loanId,
			subscription.LoanNumber subscription_loanNumber,
			subscription.ProductId subscription_productId,
			subscription.AmountLockId subscription_amountLockId,
			subscription.TransactionNumber subscription_transactionNumber,
			subscription.PayPlantformNumber subscription_payPlantformNumber,
			subscription.UmpayProductAccountNo subscription_umpayProductAccountNo,
			subscription.ProductName subscription_productName,
			subscription.ProductCode subscription_productCode,
			subscription.TradeStatus subscription_tradeStatus,
			subscription.InvestAmount subscription_investAmount,
			subscription.Shares subscription_shares,
			subscription.OrderTime subscription_orderTime,
			subscription.InterestRateDate subscription_interestRateDate,
			subscription.PaymentDate subscription_paymentDate,
			subscription.ExpectedExpirationDate subscription_expectedExpirationDate,
			subscription.ActualExpirationDate subscription_actualExpirationDate,
			subscription.ExpectedProfitRatio subscription_expectedProfitRatio,
			subscription.ExpectedProfit subscription_expectedProfit,
			subscription.SpvServiceFee subscription_spvServiceFee,
			subscription.SpvServiceFeeRatio subscription_spvServiceFeeRatio,
			subscription.ActualLoanAmount subscription_actualLoanAmount,
			subscription.LoanTime subscription_loanTime,
			subscription.LoanStatus subscription_loanStatus,
			subscription.Status subscription_status,
			subscription.DistributeStatus subscription_distributeStatus,
			subscription.DistributeTime subscription_distributeTime,
			subscription.IsBuyBack subscription_isBuyBack,
			subscription.CheckingStatus subscription_checkingStatus,
			subscription.CheckingTime subscription_checkingTime,
			subscription.ContractPath subscription_contractPath,
			subscription.Remark subscription_remark
		from TC_SubscriptionContract subscriptionContract
		inner join TC_Subscription subscription on subscription.TransactionNumber=subscriptionContract.TransactionNumber
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">and ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">and ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">and Remark=#{remark}</if>
			</trim>
		</where>
	</select>
	
	
	
	
	
	<select id="selectList" resultMap="subscriptionContractResult" parameterMap="subscriptionContractParam">
		select 
			Id subscriptionContract_id,
			TransactionNumber subscriptionContract_transactionNumber,
			ContractTemplateId subscriptionContract_contractTemplateId,
			ContactNumber subscriptionContract_contactNumber,
			Remark subscriptionContract_remark
		from TC_SubscriptionContract
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">and ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">and ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">and Remark=#{remark}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectAll" resultMap="subscriptionContractResult">
		select 
			Id subscriptionContract_id,
			TransactionNumber subscriptionContract_transactionNumber,
			ContractTemplateId subscriptionContract_contractTemplateId,
			ContactNumber subscriptionContract_contactNumber,
			Remark subscriptionContract_remark
		from TC_SubscriptionContract
	</select>
	
	<select id="selectOneById"  resultMap="subscriptionContractResult" parameterMap="subscriptionContractParam">
		select 
			Id subscriptionContract_id,
			TransactionNumber subscriptionContract_transactionNumber,
			ContractTemplateId subscriptionContract_contractTemplateId,
			ContactNumber subscriptionContract_contactNumber,
			Remark subscriptionContract_remark
		from TC_SubscriptionContract where Id=${id}
	</select>		
	
	<select id="selectPaginatedList"  resultMap="subscriptionContractResult" parameterMap="subscriptionContractParam">
		select 
			Id subscriptionContract_id,
			TransactionNumber subscriptionContract_transactionNumber,
			ContractTemplateId subscriptionContract_contractTemplateId,
			ContactNumber subscriptionContract_contactNumber,
			Remark subscriptionContract_remark
		from TC_SubscriptionContract
		order by Id asc
		limit ${start},${offset}
	</select>
	
	<select id="getCount"  resultType="long" parameterMap="subscriptionContractParam">
		select count(*) from TC_SubscriptionContract
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">and ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">and ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">and Remark=#{remark}</if>
			</trim>
		</where>	
	</select>
	
	<update id="updateById" parameterMap="subscriptionContractParam">
		update TC_SubscriptionContract
		<set>
			<trim prefixOverrides=",">
				<if test="id != null">,Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">,TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">,ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">,ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">,Remark=#{remark}</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	<update id="updateCompleteById" parameterMap="subscriptionContractParam">
		update TC_SubscriptionContract
		<set>
			<trim prefixOverrides=",">
                            ,Id=${id}
						,TransactionNumber=#{transactionNumber}
                            ,ContractTemplateId=${contractTemplateId}
						,ContactNumber=#{contactNumber}
						,Remark=#{remark}
			</trim>
		</set>
		where Id=${id}
	</update>
	
	<insert id="insert" parameterMap="subscriptionContractParam">
		insert into TC_SubscriptionContract
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,Id</if>
			<if test="transactionNumber != null and transactionNumber != ''">,TransactionNumber</if>
			<if test="contractTemplateId != null">,ContractTemplateId</if>
			<if test="contactNumber != null and contactNumber != ''">,ContactNumber</if>
			<if test="remark != null and remark != ''">,Remark</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,${id}</if>
			<if test="transactionNumber != null and transactionNumber != ''">,#{transactionNumber}</if>
			<if test="contractTemplateId != null">,${contractTemplateId}</if>
			<if test="contactNumber != null and contactNumber != ''">,#{contactNumber}</if>
			<if test="remark != null and remark != ''">,#{remark}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>	
	</insert>
	
	<delete id="deleteById" parameterMap="subscriptionContractParam">
		delete from TC_SubscriptionContract where Id=${id}
	</delete>
	
	<delete id="deleteAll" parameterMap="subscriptionContractParam">
		delete from TC_SubscriptionContract
	</delete>
	
	<delete id="delete" parameterMap="subscriptionContractParam">
		delete from TC_SubscriptionContract
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
				<if test="contractTemplateId != null">and ContractTemplateId=${contractTemplateId}</if>
				<if test="contactNumber != null and contactNumber != ''">and ContactNumber=#{contactNumber}</if>
				<if test="remark != null and remark != ''">and Remark=#{remark}</if>
			</trim>
		</where>	
	</delete>
</mapper>