<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.tc.spvrechargerecords.dao.ISpvRechargeRecordsDao">

    <select id="selectPaginatedNewList"  resultMap="spvRechargeRecordsResult" parameterMap="spvRechargeRecordsParam">
        select
        Id spvRechargeRecords_id,
        SpvId spvRechargeRecords_spvId,
        SpvName spvRechargeRecords_spvName,
        TransactionNumber spvRechargeRecords_transactionNumber,
        PayPlantformNumber spvRechargeRecords_payPlantformNumber,
        Amount spvRechargeRecords_amount,
        BankName spvRechargeRecords_bankName,
        BankCode spvRechargeRecords_bankCode,
        BankCardNumber spvRechargeRecords_bankCardNumber,
        HandlingCharge spvRechargeRecords_handlingCharge,
        ApplyTime spvRechargeRecords_applyTime,
        Status spvRechargeRecords_status,
        CheckingTime spvRechargeRecords_checkingTime,
        CheckingStatus spvRechargeRecords_checkingStatus,
        Remark spvRechargeRecords_remark
        from TC_SpvRechargeRecords
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">and Id=${id}</if>
                <if test="spvId != null">and SpvId=${spvId}</if>
                <if test="spvName != null and spvName != ''">and SpvName=#{spvName}</if>
                <if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
                <if test="payPlantformNumber != null and payPlantformNumber != ''">and PayPlantformNumber=#{payPlantformNumber}</if>
                <if test="amount != null">and Amount=${amount}</if>
                <if test="bankName != null and bankName != ''">and BankName=#{bankName}</if>
                <if test="bankCode != null and bankCode != ''">and BankCode=#{bankCode}</if>
                <if test="bankCardNumber != null and bankCardNumber != ''">and BankCardNumber=#{bankCardNumber}</if>
                <if test="handlingCharge != null">and HandlingCharge=${handlingCharge}</if>
                <if test="applyTime != null and applyTime != ''">and ApplyTime=#{applyTime}</if>
                <if test="applyTimeStartTime != null and applyTimeStartTime != ''">
                    <![CDATA[
					   AND TO_DAYS(ApplyTime) >= TO_DAYS(#{applyTimeStartTime})
					]]>

                </if>
                <if test="applyTimeEndTime != null and applyTimeEndTime != ''">
                    <![CDATA[
					   AND TO_DAYS(applyTime) <= TO_DAYS(#{applyTimeEndTime})
					]]>
                </if>
                <if test="status != null">and Status=${status}</if>
                <if test="checkingTime != null and checkingTime != ''">and CheckingTime=#{checkingTime}</if>
                <if test="checkingStatus != null">and CheckingStatus=${checkingStatus}</if>
                <if test="remark != null and remark != ''">and Remark=#{remark}</if>
            </trim>
        </where>
        order by Id asc
        limit ${start},${offset}
    </select>

    <select id="getNewCount"  resultType="long" parameterMap="spvRechargeRecordsParam">
        select count(*) from TC_SpvRechargeRecords
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">and Id=${id}</if>
                <if test="spvId != null">and SpvId=${spvId}</if>
                <if test="spvName != null and spvName != ''">and SpvName=#{spvName}</if>
                <if test="transactionNumber != null and transactionNumber != ''">and TransactionNumber=#{transactionNumber}</if>
                <if test="payPlantformNumber != null and payPlantformNumber != ''">and PayPlantformNumber=#{payPlantformNumber}</if>
                <if test="amount != null">and Amount=${amount}</if>
                <if test="bankName != null and bankName != ''">and BankName=#{bankName}</if>
                <if test="bankCode != null and bankCode != ''">and BankCode=#{bankCode}</if>
                <if test="bankCardNumber != null and bankCardNumber != ''">and BankCardNumber=#{bankCardNumber}</if>
                <if test="handlingCharge != null">and HandlingCharge=${handlingCharge}</if>
                <if test="applyTime != null and applyTime != ''">and ApplyTime=#{applyTime}</if>
                <if test="applyTimeStartTime != null and applyTimeStartTime != ''">
                    <![CDATA[
					   AND TO_DAYS(ApplyTime) >= TO_DAYS(#{applyTimeStartTime})
					]]>

                </if>
                <if test="applyTimeEndTime != null and applyTimeEndTime != ''">
                    <![CDATA[
					   AND TO_DAYS(applyTime) <= TO_DAYS(#{applyTimeEndTime})
					]]>
                </if>
                <if test="status != null">and Status=${status}</if>
                <if test="checkingTime != null and checkingTime != ''">and CheckingTime=#{checkingTime}</if>
                <if test="checkingStatus != null">and CheckingStatus=${checkingStatus}</if>
                <if test="remark != null and remark != ''">and Remark=#{remark}</if>
            </trim>
        </where>
    </select>
</mapper>