<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.eb.itemfield.dao.IItemFieldDao">
	<parameterMap id="itemFieldParam1" type="com.bs.plugins.custom.eb.itemfield.entity.ItemField" />
	<resultMap id="itemFieldResult1" type="com.bs.plugins.custom.eb.itemfield.entity.ItemField">
		<id property="id" column="itemField_id" javaType="java.lang.Long" />
		<result property="categoryId" column="itemField_categoryId" javaType="java.lang.Long" />
		<result property="tableName" column="itemField_tableName" javaType="java.lang.String" />
		<result property="columnName" column="itemField_columnName" javaType="java.lang.String" />
		<result property="columnCode" column="itemField_columnCode" javaType="java.lang.String" />
		<result property="columnAlias" column="itemField_columnAlias" javaType="java.lang.String" />
		<result property="isShow" column="itemField_isShow" javaType="java.lang.Integer" />
		<result property="showType" column="itemField_showType" javaType="java.lang.Integer" />
		<result property="rank" column="itemField_rank" javaType="java.lang.Integer" />
	</resultMap>
	
	<select id="selectPaginatedListByItemId"  resultMap="itemFieldResult1" parameterMap="itemFieldParam1">
		select 
			Id itemField_id,
			CategoryId itemField_categoryId,
			TableName itemField_tableName,
			ColumnName itemField_columnName,
			ColumnCode itemField_columnCode,
			ColumnAlias itemField_columnAlias,
			IsShow itemField_isShow,
			ShowType itemField_showType,
			Rank itemField_rank
		from EB_ItemField
		<where>
			<if test="categoryId != null"> CategoryId = ${categoryId}</if>
		</where>
		order by rank asc
		limit ${start},${offset}
	</select>
	
		<select id="selectCollectionOne" resultMap="itemFieldResult" parameterMap="itemFieldParam">
		select
			itemField.Id itemField_id,
			itemField.ColumnName itemField_columnName,
			itemField.ColumnCode itemField_columnCode,
			itemField.ColumnAlias itemField_columnAlias,
			itemField.IsShow itemField_isShow,
			itemField.ShowType itemField_showType,
			itemFieldValue.Id itemFieldValue_id,
			itemFieldValue.ItemFieldId itemFieldValue_itemFieldId,
			itemFieldValue.FieldName itemFieldValue_fieldName,
			itemFieldValue.FieldValue itemFieldValue_fieldValue
			
		from EB_ItemField itemField
		left join EB_ItemFieldValue itemFieldValue on itemFieldValue.ItemFieldId=itemField.Id
		<where>
			<trim prefixOverrides="and">
				<if test="id != null"> Id=${id}</if>
				<if test="categoryId != null">and CategoryId=${categoryId}</if>
				<if test="tableName != null and tableName != ''">and TableName=#{tableName}</if>
				<if test="columnName != null and columnName != ''">and ColumnName=#{columnName}</if>
				<if test="columnCode != null and columnCode != ''">and ColumnCode=#{columnCode}</if>
				<if test="columnAlias != null and columnAlias != ''">and ColumnAlias=#{columnAlias}</if>
				<if test="isShow != null">and IsShow=${isShow}</if>
				<if test="showType != null">and ShowType=${showType}</if>
				<if test="rank != null">and Rank=${rank}</if>
			</trim>
		</where>
				order by rank asc
	</select>
	<select id="selectCollectionTwo" resultMap="itemFieldResult" parameterMap="itemFieldParam">
		select
			itemField.Id itemField_id,
			itemField.ColumnName itemField_columnName,
			itemField.ColumnCode itemField_columnCode,
			itemField.ColumnAlias itemField_columnAlias,
			itemField.IsShow itemField_isShow,
			itemField.ShowType itemField_showType,
			itemFieldValue.Id itemFieldValue_id,
			itemFieldValue.ItemFieldId itemFieldValue_itemFieldId,
			itemFieldValue.FieldName itemFieldValue_fieldName,
			itemFieldValue.FieldValue itemFieldValue_fieldValue
		from EB_ItemField itemField
		inner join EB_ItemFieldValue itemFieldValue on itemFieldValue.ItemFieldId=itemField.Id
		<where>
			<trim prefixOverrides="and">
				<if test="id != null"> Id=${id}</if>
				<if test="categoryId != null">and CategoryId=${categoryId}</if>
				<if test="tableName != null and tableName != ''">and TableName=#{tableName}</if>
				<if test="columnName != null and columnName != ''">and ColumnName=#{columnName}</if>
				<if test="columnCode != null and columnCode != ''">and ColumnCode=#{columnCode}</if>
				<if test="columnAlias != null and columnAlias != ''">and ColumnAlias=#{columnAlias}</if>
				<if test="isShow != null">and IsShow=${isShow}</if>
				<if test="showType != null">and ShowType=${showType}</if>
				<if test="rank != null">and Rank=${rank}</if>
			</trim>
		</where>
	</select>
</mapper>