<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="table">
	<parameterMap id="tableParam" type="com.bs.plugins.system.entity.Table" />
	<!-- 用户结果集 -->
	<resultMap id="tableResult" type="com.bs.plugins.system.entity.Table">
		<id property="id" column="Id" javaType="java.lang.Long" />
		<result property="objectId" column="ObjectId" />
		<result property="code" column="Code" />
		<result property="name" column="Name" />
		<result property="type" column="Type" />
		<result property="creationDate" column="CreationDate" />
		<result property="modificationDate" column="ModificationDate" />
		<result property="comment" column="Comment" />
	</resultMap>
	
	<select id="select_all" resultMap="tableResult" parameterMap="tableParam">
		select * from SC_Table
	</select>
	
	<select id="select_one_by_id"  resultMap="tableResult" parameterMap="tableParam">
		select * from SC_Table where Id=${id}
	</select>
	
	<select id="select_one_by_objid"  resultMap="tableResult" parameterMap="tableParam">
		select * from SC_Table where ObjectId=#{objectId}
	</select>
	
	
	
	<update id="update" parameterMap="tableParam">
		update SC_Table
		<set>
			<trim prefixOverrides=",">
				<if test="objectId != null and objectId != ''">,ObjectId = #{objectId}</if>
				<if test="code != null and code != ''">,Code = #{code}</if>
				<if test="name != null and name != ''">,Name = #{name}</if>
				<if test="creationDate != null">,CreationDate=${creationDate}</if>
				<if test="modificationDate != null">,ModificationDate = ${modificationDate}</if>
				<if test="comment != null and comment != ''">,Comment = #{comment}</if>
			</trim>
		</set>
		<where>
			<if test="id != null and id != ''">
				and Id=${id}
			</if>
		</where>	
	</update>
	
	<update id="update_by_code" parameterMap="tableParam">
		update SC_Table
		<set>
			<trim prefixOverrides=",">
				<if test="objectId != null and objectId != ''">,ObjectId = #{objectId}</if>
				<if test="code != null and code != ''">,Code = #{code}</if>
				<if test="name != null and name != ''">,Name = #{name}</if>
				<if test="creationDate != null">,CreationDate=${creationDate}</if>
				<if test="modificationDate != null">,ModificationDate = ${modificationDate}</if>
				<if test="comment != null and comment != ''">,Comment = #{comment}</if>
			</trim>
		</set>
		<where>
			<if test="code != null and code != ''">
				and Code=${code}
			</if>
		</where>	
	</update>
	
	<insert id="insert" parameterMap="tableParam">
		insert into SC_Table
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="objectId != null and objectId != ''">,ObjectId</if>
			<if test="code != null and code != ''">,Code</if>
			<if test="name != null and name != ''">,Name</if>
			<if test="creationDate != null">,CreationDate</if>
			<if test="modificationDate != null">,ModificationDate</if>
			<if test="comment != null and comment != ''">,Comment</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="objectId != null and objectId != ''">,#{objectId}</if>
			<if test="code != null and code != ''">,#{code}</if>
			<if test="name != null and name != ''">,#{name}</if>
		    <if test="creationDate != null">,${creationDate}</if>
			<if test="modificationDate != null">,${modificationDate}</if>
			<if test="comment != null and comment != ''">,#{comment}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>
	</insert>
	
	
	<delete id="delete_by_id" parameterMap="tableParam">
		delete from SC_Table where id=${id}
	</delete>
	
	<delete id="delete_all" parameterMap="tableParam">
		delete from SC_Table
	</delete>
	
	<delete id="delete" parameterMap="tableParam">
		delete from SC_Table
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">
					and Id=${id}
				</if>
			</trim>
		</where>	
	</delete>
</mapper>