<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.eb.modeitemrelation.dao.IModeItemRelationDao">

	<parameterMap id="modeItemRelationParam" type="com.bs.plugins.custom.eb.modeitemrelation.entity.ModeItemRelation" />
	<resultMap id="modeItemRelationResult" type="com.bs.plugins.custom.eb.modeitemrelation.entity.ModeItemRelation">
		<id property="id" column="modeItemRelation_id" javaType="java.lang.Long" />
		<result property="growStagesId" column="modeItemRelation_growStagesId" javaType="java.lang.Long" />
		<result property="eduModeId" column="modeItemRelation_eduModeId" javaType="java.lang.Long" />
		<result property="budgetCategoryId" column="modeItemRelation_budgetCategoryId" javaType="java.lang.Long" />
		<result property="budgetItemDataId" column="modeItemRelation_budgetItemDataId" javaType="java.lang.Long" />
		<result property="budgetItemId" column="modeItemRelation_budgetItemId" javaType="java.lang.Long" />
		<result property="isSetData" column="modeItemRelation_isSetData" javaType="java.lang.Integer" />
		<association property="growStages" javaType="com.bs.plugins.custom.eb.growstages.entity.GrowStages">
			<id property="id" column="growStages_id" javaType="java.lang.Long" />
			<result property="name" column="growStages_name" javaType="java.lang.String" />
			<result property="code" column="growStages_code" javaType="java.lang.String" />
			<result property="startAge" column="growStages_startAge" javaType="java.lang.Integer" />
			<result property="endAge" column="growStages_endAge" javaType="java.lang.Integer" />
			<result property="isInclude" column="growStages_isInclude" javaType="java.lang.Integer" />
			<result property="createDate" column="growStages_createDate" javaType="java.lang.String" />
			<result property="modifyDate" column="growStages_modifyDate" javaType="java.lang.String" />
			<result property="creatorId" column="growStages_creatorId" javaType="java.lang.Long" />
		</association>
		<association property="educationMode" javaType="com.bs.plugins.custom.eb.educationmode.entity.EducationMode">
			<id property="id" column="educationMode_id" javaType="java.lang.Long" />
			<result property="growStagesId" column="educationMode_growStagesId" javaType="java.lang.Long" />
			<result property="name" column="educationMode_name" javaType="java.lang.String" />
			<result property="createDate" column="educationMode_createDate" javaType="java.lang.String" />
			<result property="modifyDate" column="educationMode_modifyDate" javaType="java.lang.String" />
			<result property="creatorId" column="educationMode_creatorId" javaType="java.lang.Long" />
		</association>
		<association property="budgetCategory" javaType="com.bs.plugins.custom.eb.budgetcategory.entity.BudgetCategory">
			<id property="id" column="budgetCategory_id" javaType="java.lang.Long" />
			<result property="name" column="budgetCategory_name" javaType="java.lang.String" />
			<result property="code" column="budgetCategory_code" javaType="java.lang.String" />
			<result property="createDate" column="budgetCategory_createDate" javaType="java.lang.String" />
			<result property="modifyDate" column="budgetCategory_modifyDate" javaType="java.lang.String" />
			<result property="creatorId" column="budgetCategory_creatorId" javaType="java.lang.Long" />
		</association>
		<association property="budgetItem" javaType="com.bs.plugins.custom.eb.budgetitem.entity.BudgetItem">
			<id property="id" column="budgetItem_id" javaType="java.lang.Long" />
			<result property="budgetCategoryId" column="budgetItem_budgetCategoryId" javaType="java.lang.Long" />
			<result property="parentId" column="budgetItem_parentId" javaType="java.lang.Long" />
			<result property="itemLevel" column="budgetItem_itemLevel" javaType="java.lang.Integer" />
			<result property="isChildNode" column="budgetItem_isChildNode" javaType="java.lang.Integer" />
			<result property="name" column="budgetItem_name" javaType="java.lang.String" />
			<result property="code" column="budgetItem_code" javaType="java.lang.String" />
			<result property="grade" column="budgetItem_grade" javaType="java.lang.String" />
			<result property="age" column="budgetItem_age" javaType="java.lang.Integer" />
			<result property="costFormula" column="budgetItem_costFormula" javaType="java.lang.String" />
			<result property="isInflation" column="budgetItem_isInflation" javaType="java.lang.Integer" />
			<result property="isTranslation" column="budgetItem_isTranslation" javaType="java.lang.Integer" />
			<result property="createDate" column="budgetItem_createDate" javaType="java.lang.String" />
			<result property="modifyDate" column="budgetItem_modifyDate" javaType="java.lang.String" />
			<result property="creatorId" column="budgetItem_creatorId" javaType="java.lang.Long" />
			<result property="inputLevel" column="budgetItem_inputLevel" javaType="java.lang.Integer" />
			<result property="isDifferInputLevel" column="budgetItem_isDifferInputLevel" javaType="java.lang.Integer" />
		</association>
		<association property="budgetItemData" javaType="com.bs.plugins.custom.eb.budgetitemdata.entity.BudgetItemData">
			<id property="id" column="budgetItemData_id" javaType="java.lang.Long" />
			<result property="areaCode" column="budgetItemData_areaCode" javaType="java.lang.String" />
			<result property="eduGoalId" column="budgetItemData_eduGoalId" javaType="java.lang.Long" />
			<result property="growStagesId" column="budgetItemData_growStagesId" javaType="java.lang.Long" />
			<result property="eduModeId" column="budgetItemData_eduModeId" javaType="java.lang.Long" />
			<result property="categoryId" column="budgetItemData_categoryId" javaType="java.lang.Long" />
			<result property="itemId" column="budgetItemData_itemId" javaType="java.lang.Long" />
			<result property="isInland" column="budgetItemData_isInland" javaType="java.lang.Integer" />
			<result property="lowAmountTotal" column="budgetItemData_lowAmountTotal" javaType="java.math.BigDecimal" />
			<result property="highAmountTotal" column="budgetItemData_highAmountTotal" javaType="java.math.BigDecimal" />
			<result property="lowAmount" column="budgetItemData_lowAmount" javaType="java.math.BigDecimal" />
			<result property="highAmount" column="budgetItemData_highAmount" javaType="java.math.BigDecimal" />
			<result property="maxAmount" column="budgetItemData_maxAmount" javaType="java.math.BigDecimal" />
			<result property="systemYearCount" column="budgetItemData_systemYearCount" javaType="java.lang.Integer" />
			<result property="yearCount" column="budgetItemData_yearCount" javaType="java.lang.Double" />
			<result property="maxYearCount" column="budgetItemData_maxYearCount" javaType="java.lang.Integer" />
			<result property="years" column="budgetItemData_years" javaType="java.lang.Integer" />
			<result property="endYears" column="budgetItemData_endYears" javaType="java.lang.Integer" />
			<result property="paymentGrade" column="budgetItemData_paymentGrade" javaType="java.lang.Integer" />
			<result property="isGrading" column="budgetItemData_isGrading" javaType="java.lang.Integer" />
			<result property="gradingType" column="budgetItemData_gradingType" javaType="java.lang.Integer" />
			<result property="paymentMethod" column="budgetItemData_paymentMethod" javaType="java.lang.Integer" />
			<result property="paymentMonth" column="budgetItemData_paymentMonth" javaType="java.lang.Integer" />
			<result property="isInflation" column="budgetItemData_isInflation" javaType="java.lang.Integer" />
			<result property="isAreaTranslation" column="budgetItemData_isAreaTranslation" javaType="java.lang.Integer" />
			<result property="comment" column="budgetItemData_comment" javaType="java.lang.String" />
			<result property="dataSources" column="budgetItemData_dataSources" javaType="java.lang.String" />
			<result property="trainingAgencyName" column="budgetItemData_trainingAgencyName" javaType="java.lang.String" />
			<result property="createDate" column="budgetItemData_createDate" javaType="java.lang.String" />
			<result property="updateDate" column="budgetItemData_updateDate" javaType="java.lang.String" />
			<result property="creatorId" column="budgetItemData_creatorId" javaType="java.lang.Long" />
		</association>
	</resultMap>
	
	<select id="selectAssociations" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			modeItemRelation.IsSetData modeItemRelation_isSetData,	
			growStages.Id growStages_id,
			growStages.Name growStages_name,
			growStages.Code growStages_code,
			growStages.StartAge growStages_startAge,
			growStages.EndAge growStages_endAge,
			growStages.IsInclude growStages_isInclude,
			growStages.CreateDate growStages_createDate,
			growStages.ModifyDate growStages_modifyDate,
			growStages.CreatorId growStages_creatorId,
			educationMode.Id educationMode_id,
			educationMode.GrowStagesId educationMode_growStagesId,
			educationMode.Name educationMode_name,
			educationMode.CreateDate educationMode_createDate,
			educationMode.ModifyDate educationMode_modifyDate,
			educationMode.CreatorId educationMode_creatorId,
			budgetCategory.Id budgetCategory_id,
			budgetCategory.Name budgetCategory_name,
			budgetCategory.Code budgetCategory_code,
			budgetCategory.CreateDate budgetCategory_createDate,
			budgetCategory.ModifyDate budgetCategory_modifyDate,
			budgetCategory.CreatorId budgetCategory_creatorId,
			budgetItem.Id budgetItem_id,
			budgetItem.BudgetCategoryId budgetItem_budgetCategoryId,
			budgetItem.ParentId budgetItem_parentId,
			budgetItem.ItemLevel budgetItem_itemLevel,
			budgetItem.IsChildNode budgetItem_isChildNode,
			budgetItem.Name budgetItem_name,
			budgetItem.Code budgetItem_code,
			budgetItem.Grade budgetItem_grade,
			budgetItem.Age budgetItem_age,
			budgetItem.CostFormula budgetItem_costFormula,
			budgetItem.IsInflation budgetItem_isInflation,
			budgetItem.IsTranslation budgetItem_isTranslation,
			budgetItem.CreateDate budgetItem_createDate,
			budgetItem.ModifyDate budgetItem_modifyDate,
			budgetItem.CreatorId budgetItem_creatorId,
			budgetItem.InputLevel budgetItem_inputLevel,
			budgetItem.IsDifferInputLevel budgetItem_isDifferInputLevel,
			budgetItemData.Id budgetItemData_id,
			budgetItemData.AreaCode budgetItemData_areaCode,
			budgetItemData.EduGoalId budgetItemData_eduGoalId,
			budgetItemData.GrowStagesId budgetItemData_growStagesId,
			budgetItemData.EduModeId budgetItemData_eduModeId,
			budgetItemData.CategoryId budgetItemData_categoryId,
			budgetItemData.ItemId budgetItemData_itemId,
			budgetItemData.IsInland budgetItemData_isInland,
			budgetItemData.LowAmountTotal budgetItemData_lowAmountTotal,
			budgetItemData.HighAmountTotal budgetItemData_highAmountTotal,
			budgetItemData.LowAmount budgetItemData_lowAmount,
			budgetItemData.HighAmount budgetItemData_highAmount,
			budgetItemData.MaxAmount budgetItemData_maxAmount,
			budgetItemData.SystemYearCount budgetItemData_systemYearCount,
			budgetItemData.YearCount budgetItemData_yearCount,
			budgetItemData.MaxYearCount budgetItemData_maxYearCount,
			budgetItemData.Years budgetItemData_years,
			budgetItemData.EndYears budgetItemData_endYears,
			budgetItemData.PaymentGrade budgetItemData_paymentGrade,
			budgetItemData.IsGrading budgetItemData_isGrading,
			budgetItemData.GradingType budgetItemData_gradingType,
			budgetItemData.PaymentMethod budgetItemData_paymentMethod,
			budgetItemData.PaymentMonth budgetItemData_paymentMonth,
			budgetItemData.IsInflation budgetItemData_isInflation,
			budgetItemData.IsAreaTranslation budgetItemData_isAreaTranslation,
			budgetItemData.Comment budgetItemData_comment,
			budgetItemData.DataSources budgetItemData_dataSources,
			budgetItemData.TrainingAgencyName budgetItemData_trainingAgencyName,
			budgetItemData.CreateDate budgetItemData_createDate,
			budgetItemData.UpdateDate budgetItemData_updateDate,
			budgetItemData.CreatorId budgetItemData_creatorId
		from EB_ModeItemRelation modeItemRelation
		inner join EB_GrowStages growStages on growStages.Id=modeItemRelation.GrowStagesId
		inner join EB_EducationMode educationMode on educationMode.Id=modeItemRelation.EduModeId
		inner join EB_BudgetCategory budgetCategory on budgetCategory.Id=modeItemRelation.BudgetCategoryId
		inner join EB_BudgetItem budgetItem on budgetItem.Id=modeItemRelation.BudgetItemId
		inner join EB_BudgetItemData budgetItemData on budgetItemData.Id=modeItemRelation.BudgetItemDataId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectModeItemRelationGrowStages" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			growStages.Id budgetItemData_id,
			growStages.Name budgetItemData_name,
			growStages.Code budgetItemData_code,
			growStages.StartAge budgetItemData_startAge,
			growStages.EndAge budgetItemData_endAge,
			growStages.IsInclude budgetItemData_isInclude,
			growStages.CreateDate budgetItemData_createDate,
			growStages.ModifyDate budgetItemData_modifyDate,
			growStages.CreatorId budgetItemData_creatorId
		from EB_ModeItemRelation modeItemRelation
		inner join EB_GrowStages growStages on growStages.Id=modeItemRelation.GrowStagesId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectModeItemRelationEducationMode" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			educationMode.Id budgetItemData_id,
			educationMode.GrowStagesId budgetItemData_growStagesId,
			educationMode.Name budgetItemData_name,
			educationMode.CreateDate budgetItemData_createDate,
			educationMode.ModifyDate budgetItemData_modifyDate,
			educationMode.CreatorId budgetItemData_creatorId
		from EB_ModeItemRelation modeItemRelation
		inner join EB_EducationMode educationMode on educationMode.Id=modeItemRelation.EduModeId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectModeItemRelationBudgetCategory" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			budgetCategory.Id budgetItemData_id,
			budgetCategory.Name budgetItemData_name,
			budgetCategory.Code budgetItemData_code,
			budgetCategory.CreateDate budgetItemData_createDate,
			budgetCategory.ModifyDate budgetItemData_modifyDate,
			budgetCategory.CreatorId budgetItemData_creatorId
		from EB_ModeItemRelation modeItemRelation
		inner join EB_BudgetCategory budgetCategory on budgetCategory.Id=modeItemRelation.BudgetCategoryId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectModeItemRelationBudgetItem" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			budgetItem.Id budgetItemData_id,
			budgetItem.BudgetCategoryId budgetItemData_budgetCategoryId,
			budgetItem.ParentId budgetItemData_parentId,
			budgetItem.ItemLevel budgetItemData_itemLevel,
			budgetItem.IsChildNode budgetItemData_isChildNode,
			budgetItem.Name budgetItemData_name,
			budgetItem.Code budgetItemData_code,
			budgetItem.Grade budgetItemData_grade,
			budgetItem.Age budgetItemData_age,
			budgetItem.CostFormula budgetItemData_costFormula,
			budgetItem.IsInflation budgetItemData_isInflation,
			budgetItem.IsTranslation budgetItemData_isTranslation,
			budgetItem.CreateDate budgetItemData_createDate,
			budgetItem.ModifyDate budgetItemData_modifyDate,
			budgetItem.CreatorId budgetItemData_creatorId,
			budgetItem.InputLevel budgetItemData_inputLevel,
			budgetItem.IsDifferInputLevel budgetItemData_isDifferInputLevel
		from EB_ModeItemRelation modeItemRelation
		inner join EB_BudgetItem budgetItem on budgetItem.Id=modeItemRelation.BudgetItemId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectModeItemRelationBudgetItemData" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select
			modeItemRelation.Id modeItemRelation_id,
			modeItemRelation.GrowStagesId modeItemRelation_growStagesId,
			modeItemRelation.EduModeId modeItemRelation_eduModeId,
			modeItemRelation.BudgetCategoryId modeItemRelation_budgetCategoryId,
			modeItemRelation.BudgetItemDataId modeItemRelation_budgetItemDataId,
			modeItemRelation.BudgetItemId modeItemRelation_budgetItemId,
			budgetItemData.Id budgetItemData_id,
			budgetItemData.AreaCode budgetItemData_areaCode,
			budgetItemData.EduGoalId budgetItemData_eduGoalId,
			budgetItemData.GrowStagesId budgetItemData_growStagesId,
			budgetItemData.EduModeId budgetItemData_eduModeId,
			budgetItemData.CategoryId budgetItemData_categoryId,
			budgetItemData.ItemId budgetItemData_itemId,
			budgetItemData.IsInland budgetItemData_isInland,
			budgetItemData.LowAmountTotal budgetItemData_lowAmountTotal,
			budgetItemData.HighAmountTotal budgetItemData_highAmountTotal,
			budgetItemData.LowAmount budgetItemData_lowAmount,
			budgetItemData.HighAmount budgetItemData_highAmount,
			budgetItemData.MaxAmount budgetItemData_maxAmount,
			budgetItemData.SystemYearCount budgetItemData_systemYearCount,
			budgetItemData.YearCount budgetItemData_yearCount,
			budgetItemData.MaxYearCount budgetItemData_maxYearCount,
			budgetItemData.Years budgetItemData_years,
			budgetItemData.EndYears budgetItemData_endYears,
			budgetItemData.PaymentGrade budgetItemData_paymentGrade,
			budgetItemData.IsGrading budgetItemData_isGrading,
			budgetItemData.GradingType budgetItemData_gradingType,
			budgetItemData.PaymentMethod budgetItemData_paymentMethod,
			budgetItemData.PaymentMonth budgetItemData_paymentMonth,
			budgetItemData.IsInflation budgetItemData_isInflation,
			budgetItemData.IsAreaTranslation budgetItemData_isAreaTranslation,
			budgetItemData.Comment budgetItemData_comment,
			budgetItemData.DataSources budgetItemData_dataSources,
			budgetItemData.TrainingAgencyName budgetItemData_trainingAgencyName,
			budgetItemData.CreateDate budgetItemData_createDate,
			budgetItemData.UpdateDate budgetItemData_updateDate,
			budgetItemData.CreatorId budgetItemData_creatorId
		from EB_ModeItemRelation modeItemRelation
		inner join EB_BudgetItemData budgetItemData on budgetItemData.Id=modeItemRelation.BudgetItemDataId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	
	
	
	
	<select id="selectList" resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select 
			Id modeItemRelation_id,
			GrowStagesId modeItemRelation_growStagesId,
			EduModeId modeItemRelation_eduModeId,
			BudgetCategoryId modeItemRelation_budgetCategoryId,
			BudgetItemDataId modeItemRelation_budgetItemDataId,
			BudgetItemId modeItemRelation_budgetItemId,
			IsSetData modeItemRelation_isSetData
		from EB_ModeItemRelation
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectAll" resultMap="modeItemRelationResult">
		select 
			Id modeItemRelation_id,
			GrowStagesId modeItemRelation_growStagesId,
			EduModeId modeItemRelation_eduModeId,
			BudgetCategoryId modeItemRelation_budgetCategoryId,
			BudgetItemDataId modeItemRelation_budgetItemDataId,
			BudgetItemId modeItemRelation_budgetItemId,
			IsSetData modeItemRelation_isSetData
		from EB_ModeItemRelation
	</select>
	
	<select id="selectOneById"  resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select 
			Id modeItemRelation_id,
			GrowStagesId modeItemRelation_growStagesId,
			EduModeId modeItemRelation_eduModeId,
			BudgetCategoryId modeItemRelation_budgetCategoryId,
			BudgetItemDataId modeItemRelation_budgetItemDataId,
			BudgetItemId modeItemRelation_budgetItemId,
			IsSetData modeItemRelation_isSetData
		from EB_ModeItemRelation where Id=${id}
	</select>		
	
	<select id="selectPaginatedList"  resultMap="modeItemRelationResult" parameterMap="modeItemRelationParam">
		select 
			Id modeItemRelation_id,
			GrowStagesId modeItemRelation_growStagesId,
			EduModeId modeItemRelation_eduModeId,
			BudgetCategoryId modeItemRelation_budgetCategoryId,
			BudgetItemDataId modeItemRelation_budgetItemDataId,
			BudgetItemId modeItemRelation_budgetItemId,
			IsSetData modeItemRelation_isSetData
		from EB_ModeItemRelation
		order by Id asc
		limit ${start},${offset}
	</select>
	
	<select id="getCount"  resultType="long" parameterMap="modeItemRelationParam">
		select count(*) from EB_ModeItemRelation
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>	
	</select>
	
	<update id="updateById" parameterMap="modeItemRelationParam">
		update EB_ModeItemRelation
		<set>
			<trim prefixOverrides=",">
				<if test="id != null">,Id=${id}</if>
				<if test="growStagesId != null">,GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">,EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">,BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">,BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">,BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">,IsSetData=${isSetData}</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	<update id="updateCompleteById" parameterMap="modeItemRelationParam">
		update EB_ModeItemRelation
		<set>
			<trim prefixOverrides=",">
                            ,Id=${id}
                            ,GrowStagesId=${growStagesId}
                            ,EduModeId=${eduModeId}
                            ,BudgetCategoryId=${budgetCategoryId}
                            ,BudgetItemDataId=${budgetItemDataId}
                            ,BudgetItemId=${budgetItemId}
                    	<if test="isSetData != null">,IsSetData=${isSetData}</if>
                        <if test="isSetData == null">,IsSetData= 0</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	
	<insert id="insert" parameterMap="modeItemRelationParam">
		insert into EB_ModeItemRelation
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,Id</if>
			<if test="growStagesId != null">,GrowStagesId</if>
			<if test="eduModeId != null">,EduModeId</if>
			<if test="budgetCategoryId != null">,BudgetCategoryId</if>
			<if test="budgetItemDataId != null">,BudgetItemDataId</if>
			<if test="budgetItemId != null">,BudgetItemId</if>
			<if test="isSetData != null">,IsSetData</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,${id}</if>
			<if test="growStagesId != null">,${growStagesId}</if>
			<if test="eduModeId != null">,${eduModeId}</if>
			<if test="budgetCategoryId != null">,${budgetCategoryId}</if>
			<if test="budgetItemDataId != null">,${budgetItemDataId}</if>
			<if test="budgetItemId != null">,${budgetItemId}</if>
			<if test="isSetData != null">,${isSetData}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>	
	</insert>
	
	<delete id="deleteById" parameterMap="modeItemRelationParam">
		delete from EB_ModeItemRelation where Id=${id}
	</delete>
	
	<delete id="deleteAll" parameterMap="modeItemRelationParam">
		delete from EB_ModeItemRelation
	</delete>
	
	<delete id="delete" parameterMap="modeItemRelationParam">
		delete from EB_ModeItemRelation
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="growStagesId != null">and GrowStagesId=${growStagesId}</if>
				<if test="eduModeId != null">and EduModeId=${eduModeId}</if>
				<if test="budgetCategoryId != null">and BudgetCategoryId=${budgetCategoryId}</if>
				<if test="budgetItemDataId != null">and BudgetItemDataId=${budgetItemDataId}</if>
				<if test="budgetItemId != null">and BudgetItemId=${budgetItemId}</if>
				<if test="isSetData != null">and IsSetData=${isSetData}</if>
			</trim>
		</where>	
	</delete>
</mapper>