<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.sc.tablecolumn.dao.ITableColumnDao">
	<parameterMap id="tableColumnParam1" type="com.bs.plugins.custom.sc.tablecolumn.entity.TableColumn" />
	<resultMap id="tableColumnResult1" type="com.bs.plugins.custom.sc.tablecolumn.entity.TableColumn">
		<id property="id" column="tableColumn_id" javaType="java.lang.Long" />
		<result property="tableId" column="tableColumn_tableId" javaType="java.lang.Long" />
		<result property="objectId" column="tableColumn_objectId" javaType="java.lang.String" />
		<result property="code" column="tableColumn_code" javaType="java.lang.String" />
		<result property="name" column="tableColumn_name" javaType="java.lang.String" />
		<result property="showName" column="tableColumn_showName" javaType="java.lang.String" />
		<result property="defaultValue" column="tableColumn_defaultValue" javaType="java.lang.String" />
		<result property="dataType" column="tableColumn_dataType" javaType="java.lang.String" />
		<result property="length" column="tableColumn_length" javaType="java.lang.Integer" />
		<result property="creationDate" column="tableColumn_creationDate" javaType="java.lang.Long" />
		<result property="modificationDate" column="tableColumn_modificationDate" javaType="java.lang.Long" />
		<result property="comment" column="tableColumn_comment" javaType="java.lang.String" />
		<association property="table" javaType="com.bs.plugins.custom.sc.table.entity.Table">
			<id property="id" column="table_id" javaType="java.lang.Long" />
			<result property="code" column="table_code" javaType="java.lang.String" />
			<result property="objectId" column="table_objectId" javaType="java.lang.String" />
			<result property="name" column="table_name" javaType="java.lang.String" />
			<result property="creationDate" column="table_creationDate" javaType="java.lang.Long" />
			<result property="modificationDate" column="table_modificationDate" javaType="java.lang.Long" />
			<result property="comment" column="table_comment" javaType="java.lang.String" />
		</association>
		<collection property="tableIndexs" ofType="com.bs.plugins.custom.sc.tableindex.entity.TableIndex">
			<id property="id" column="tableIndex_id" javaType="java.lang.Long" />
			<result property="columnId" column="tableIndex_columnId" javaType="java.lang.Long" />
			<result property="objectId" column="tableIndex_objectId" javaType="java.lang.String" />
			<result property="code" column="tableIndex_code" javaType="java.lang.String" />
			<result property="name" column="tableIndex_name" javaType="java.lang.String" />
			<result property="creationDate" column="tableIndex_creationDate" javaType="java.lang.Long" />
			<result property="modificationDate" column="tableIndex_modificationDate" javaType="java.lang.Long" />
			<result property="comment" column="tableIndex_comment" javaType="java.lang.String" />
		</collection>
	</resultMap>
	
	<select id="selectListByIds" resultMap="tableColumnResult1" parameterMap="tableColumnParam1">
		select 
			Id tableColumn_id,
			TableId tableColumn_tableId,
			ObjectId tableColumn_objectId,
			Code tableColumn_code,
			Name tableColumn_name,
			ShowName tableColumn_showName,
			DefaultValue tableColumn_defaultValue,
			DataType tableColumn_dataType,
			Length tableColumn_length,
			CreationDate tableColumn_creationDate,
			ModificationDate tableColumn_modificationDate,
			Comment tableColumn_comment
		from SC_TableColumn
		<where>
			<if test="ids!=null">
				<![CDATA[ id in ]]> 
					<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">   
			       	 	${item}
			    	</foreach> 
				<![CDATA[]]>
			</if>
		</where>
	</select>
	
	
	<select id="selectItemFieldList" resultMap="tableColumnResult1" parameterMap="tableColumnParam1">
		select 
			Id tableColumn_id,
			TableId tableColumn_tableId,
			ObjectId tableColumn_objectId,
			Code tableColumn_code,
			Name tableColumn_name,
			ShowName tableColumn_showName,
			DefaultValue tableColumn_defaultValue,
			DataType tableColumn_dataType,
			Length tableColumn_length,
			CreationDate tableColumn_creationDate,
			ModificationDate tableColumn_modificationDate,
			Comment tableColumn_comment
			from SC_TableColumn where TableId = ${tableId} and id not in 
		(select id from (select * from SC_TableColumn where TableId =${tableId} LIMIT 7) as t) 
	</select>
	
</mapper>