<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.sc.dictionary.dao.IDictionaryDao">

	<parameterMap id="dictionaryParam" type="com.bs.plugins.custom.sc.dictionary.entity.Dictionary" />
	<resultMap id="dictionaryResult" type="com.bs.plugins.custom.sc.dictionary.entity.Dictionary">
		<id property="id" column="dictionary_id" javaType="java.lang.Long" />
		<result property="dictCategoryId" column="dictionary_dictCategoryId" javaType="java.lang.Long" />
		<result property="value" column="dictionary_value" javaType="java.lang.String" />
		<result property="name" column="dictionary_name" javaType="java.lang.String" />
		<result property="description" column="dictionary_description" javaType="java.lang.String" />
		<result property="state" column="dictionary_state" javaType="java.lang.Integer" />
		<result property="creationDate" column="dictionary_creationDate" javaType="java.lang.Long" />
		<result property="modificationDate" column="dictionary_modificationDate" javaType="java.lang.Long" />
		<association property="dictionaryCategory" javaType="com.bs.plugins.custom.sc.dictionarycategory.entity.DictionaryCategory">
			<id property="id" column="dictionaryCategory_id" javaType="java.lang.Long" />
			<result property="code" column="dictionaryCategory_code" javaType="java.lang.String" />
			<result property="name" column="dictionaryCategory_name" javaType="java.lang.String" />
			<result property="description" column="dictionaryCategory_description" javaType="java.lang.String" />
			<result property="creationDate" column="dictionaryCategory_creationDate" javaType="java.lang.Long" />
			<result property="modificationDate" column="dictionaryCategory_modificationDate" javaType="java.lang.Long" />
		</association>
	</resultMap>
	
	<select id="selectAssociations" resultMap="dictionaryResult" parameterMap="dictionaryParam">
		select
			dictionary.Id dictionary_id,
			dictionary.DictCategoryId dictionary_dictCategoryId,
			dictionary.Value dictionary_value,
			dictionary.Name dictionary_name,
			dictionary.Description dictionary_description,
			dictionary.State dictionary_state,
			dictionary.CreationDate dictionary_creationDate,
			dictionary.ModificationDate dictionary_modificationDate,	
			dictionaryCategory.Id dictionaryCategory_id,
			dictionaryCategory.Code dictionaryCategory_code,
			dictionaryCategory.Name dictionaryCategory_name,
			dictionaryCategory.Description dictionaryCategory_description,
			dictionaryCategory.CreationDate dictionaryCategory_creationDate,
			dictionaryCategory.ModificationDate dictionaryCategory_modificationDate
		from SC_Dictionary dictionary
		inner join SC_DictionaryCategory dictionaryCategory on dictionaryCategory.Id=dictionary.DictCategoryId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="dictCategoryId != null">and DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">and Value=#{value}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="state != null">and State=${state}</if>
				<if test="creationDate != null">and CreationDate=${creationDate}</if>
				<if test="modificationDate != null">and ModificationDate=${modificationDate}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectDictionaryDictionaryCategory" resultMap="dictionaryResult" parameterMap="dictionaryParam">
		select
			dictionary.Id dictionary_id,
			dictionary.DictCategoryId dictionary_dictCategoryId,
			dictionary.Value dictionary_value,
			dictionary.Name dictionary_name,
			dictionary.Description dictionary_description,
			dictionary.State dictionary_state,
			dictionary.CreationDate dictionary_creationDate,
			dictionaryCategory.Id dictionaryCategory_id,
			dictionaryCategory.Code dictionaryCategory_code,
			dictionaryCategory.Name dictionaryCategory_name,
			dictionaryCategory.Description dictionaryCategory_description,
			dictionaryCategory.CreationDate dictionaryCategory_creationDate,
			dictionaryCategory.ModificationDate dictionaryCategory_modificationDate
		from SC_Dictionary dictionary
		inner join SC_DictionaryCategory dictionaryCategory on dictionaryCategory.Id=dictionary.DictCategoryId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="dictCategoryId != null">and DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">and Value=#{value}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="state != null">and State=${state}</if>
				<if test="creationDate != null">and CreationDate=${creationDate}</if>
				<if test="modificationDate != null">and ModificationDate=${modificationDate}</if>
			</trim>
		</where>
	</select>
	
	
	
	
	
	<select id="selectList" resultMap="dictionaryResult" parameterMap="dictionaryParam">
		select 
			Id dictionary_id,
			DictCategoryId dictionary_dictCategoryId,
			Value dictionary_value,
			Name dictionary_name,
			Description dictionary_description,
			State dictionary_state,
			CreationDate dictionary_creationDate,
			ModificationDate dictionary_modificationDate
		from SC_Dictionary
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="dictCategoryId != null">and DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">and Value=#{value}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="state != null">and State=${state}</if>
				<if test="creationDate != null">and CreationDate=${creationDate}</if>
				<if test="modificationDate != null">and ModificationDate=${modificationDate}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectAll" resultMap="dictionaryResult">
		select 
			Id dictionary_id,
			DictCategoryId dictionary_dictCategoryId,
			Value dictionary_value,
			Name dictionary_name,
			Description dictionary_description,
			State dictionary_state,
			CreationDate dictionary_creationDate,
			ModificationDate dictionary_modificationDate
		from SC_Dictionary
	</select>
	
	<select id="selectOneById"  resultMap="dictionaryResult" parameterMap="dictionaryParam">
		select 
			Id dictionary_id,
			DictCategoryId dictionary_dictCategoryId,
			Value dictionary_value,
			Name dictionary_name,
			Description dictionary_description,
			State dictionary_state,
			CreationDate dictionary_creationDate,
			ModificationDate dictionary_modificationDate
		from SC_Dictionary where Id=${id}
	</select>		
	
	<select id="selectPaginatedList"  resultMap="dictionaryResult" parameterMap="dictionaryParam">
		select 
			Id dictionary_id,
			DictCategoryId dictionary_dictCategoryId,
			Value dictionary_value,
			Name dictionary_name,
			Description dictionary_description,
			State dictionary_state,
			CreationDate dictionary_creationDate,
			ModificationDate dictionary_modificationDate
		from SC_Dictionary
		order by Id asc
		limit ${start},${offset}
	</select>
	
	<select id="getCount"  resultType="long" parameterMap="dictionaryParam">
		select count(*) from SC_Dictionary
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="dictCategoryId != null">and DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">and Value=#{value}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="state != null">and State=${state}</if>
				<if test="creationDate != null">and CreationDate=${creationDate}</if>
				<if test="modificationDate != null">and ModificationDate=${modificationDate}</if>
			</trim>
		</where>	
	</select>
	
	<update id="updateById" parameterMap="dictionaryParam">
		update SC_Dictionary
		<set>
			<trim prefixOverrides=",">
				<if test="id != null">,Id=${id}</if>
				<if test="dictCategoryId != null">,DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">,Value=#{value}</if>
				<if test="name != null and name != ''">,Name=#{name}</if>
				<if test="description != null and description != ''">,Description=#{description}</if>
				<if test="state != null">,State=${state}</if>
				<if test="creationDate != null">,CreationDate=${creationDate}</if>
				<if test="modificationDate != null">,ModificationDate=${modificationDate}</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	<update id="updateCompleteById" parameterMap="dictionaryParam">
		update SC_Dictionary
		<set>
			<trim prefixOverrides=",">
                            ,Id=${id}
                            ,DictCategoryId=${dictCategoryId}
						,Value=#{value}
						,Name=#{name}
						,Description=#{description}
                    	<if test="state != null">,State=${state}</if>
                        <if test="state == null">,State= 0</if>
                            ,CreationDate=${creationDate}
                            ,ModificationDate=${modificationDate}
			</trim>
		</set>
		where Id=${id}
	</update>
	
	<insert id="insert" parameterMap="dictionaryParam">
		insert into SC_Dictionary
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,Id</if>
			<if test="dictCategoryId != null">,DictCategoryId</if>
			<if test="value != null and value != ''">,Value</if>
			<if test="name != null and name != ''">,Name</if>
			<if test="description != null and description != ''">,Description</if>
			<if test="state != null">,State</if>
			<if test="creationDate != null">,CreationDate</if>
			<if test="modificationDate != null">,ModificationDate</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,${id}</if>
			<if test="dictCategoryId != null">,${dictCategoryId}</if>
			<if test="value != null and value != ''">,#{value}</if>
			<if test="name != null and name != ''">,#{name}</if>
			<if test="description != null and description != ''">,#{description}</if>
			<if test="state != null">,${state}</if>
			<if test="creationDate != null">,${creationDate}</if>
			<if test="modificationDate != null">,${modificationDate}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>	
	</insert>
	
	<delete id="deleteById" parameterMap="dictionaryParam">
		delete from SC_Dictionary where Id=${id}
	</delete>
	
	<delete id="deleteAll" parameterMap="dictionaryParam">
		delete from SC_Dictionary
	</delete>
	
	<delete id="delete" parameterMap="dictionaryParam">
		delete from SC_Dictionary
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="dictCategoryId != null">and DictCategoryId=${dictCategoryId}</if>
				<if test="value != null and value != ''">and Value=#{value}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="state != null">and State=${state}</if>
				<if test="creationDate != null">and CreationDate=${creationDate}</if>
				<if test="modificationDate != null">and ModificationDate=${modificationDate}</if>
			</trim>
		</where>	
	</delete>
</mapper>