<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.plugins.custom.pc.basicproduct.dao.IBasicProductDao">

	<parameterMap id="basicProductParam" type="com.bs.plugins.custom.pc.basicproduct.entity.BasicProduct" />
	<resultMap id="basicProductResult" type="com.bs.plugins.custom.pc.basicproduct.entity.BasicProduct">
		<id property="id" column="basicProduct_id" javaType="java.lang.Long" />
		<result property="spvId" column="basicProduct_spvId" javaType="java.lang.Long" />
		<result property="name" column="basicProduct_name" javaType="java.lang.String" />
		<result property="code" column="basicProduct_code" javaType="java.lang.String" />
		<result property="totalAmount" column="basicProduct_totalAmount" javaType="java.lang.Integer" />
		<result property="interestRateDate" column="basicProduct_interestRateDate" javaType="java.lang.String" />
		<result property="profitExpirationDate" column="basicProduct_profitExpirationDate" javaType="java.lang.String" />
		<result property="actualExpirationDate" column="basicProduct_actualExpirationDate" javaType="java.lang.String" />
		<result property="paymentDate" column="basicProduct_paymentDate" javaType="java.lang.String" />
		<result property="actualPaymentDate" column="basicProduct_actualPaymentDate" javaType="java.lang.String" />
		<result property="expectedProfitRatio" column="basicProduct_expectedProfitRatio" javaType="java.math.BigDecimal" />
		<result property="actualExpectedProfitRatio" column="basicProduct_actualExpectedProfitRatio" javaType="java.math.BigDecimal" />
		<result property="expectedProfit" column="basicProduct_expectedProfit" javaType="java.math.BigDecimal" />
		<result property="actualProfit" column="basicProduct_actualProfit" javaType="java.math.BigDecimal" />
		<result property="description" column="basicProduct_description" javaType="java.lang.String" />
		<result property="createTime" column="basicProduct_createTime" javaType="java.lang.String" />
		<result property="modifierId" column="basicProduct_modifierId" javaType="java.lang.Long" />
		<result property="modifyTime" column="basicProduct_modifyTime" javaType="java.lang.String" />
		<result property="isDelete" column="basicProduct_isDelete" javaType="java.lang.Integer" />
		<result property="creatorId" column="basicProduct_creatorId" javaType="java.lang.Long" />
		<association property="spvCorporation" javaType="com.bs.plugins.custom.cc.spvcorporation.entity.SpvCorporation">
			<id property="id" column="spvCorporation_id" javaType="java.lang.Long" />
			<result property="type" column="spvCorporation_type" javaType="java.lang.Integer" />
			<result property="code" column="spvCorporation_code" javaType="java.lang.String" />
			<result property="umpayAccountNo" column="spvCorporation_umpayAccountNo" javaType="java.lang.String" />
			<result property="availableAmount" column="spvCorporation_availableAmount" javaType="java.math.BigDecimal" />
			<result property="frozenAmount" column="spvCorporation_frozenAmount" javaType="java.math.BigDecimal" />
			<result property="umpayMerchantNo" column="spvCorporation_umpayMerchantNo" javaType="java.lang.String" />
			<result property="name" column="spvCorporation_name" javaType="java.lang.String" />
			<result property="shortName" column="spvCorporation_shortName" javaType="java.lang.String" />
			<result property="bankName" column="spvCorporation_bankName" javaType="java.lang.String" />
			<result property="bankCode" column="spvCorporation_bankCode" javaType="java.lang.String" />
			<result property="bankCardNumber" column="spvCorporation_bankCardNumber" javaType="java.lang.String" />
			<result property="signaturePicPath" column="spvCorporation_signaturePicPath" javaType="java.lang.String" />
			<result property="phone" column="spvCorporation_phone" javaType="java.lang.String" />
			<result property="fax" column="spvCorporation_fax" javaType="java.lang.String" />
			<result property="postCode" column="spvCorporation_postCode" javaType="java.lang.String" />
			<result property="address" column="spvCorporation_address" javaType="java.lang.String" />
			<result property="description" column="spvCorporation_description" javaType="java.lang.String" />
			<result property="status" column="spvCorporation_status" javaType="java.lang.Integer" />
			<result property="createTime" column="spvCorporation_createTime" javaType="java.lang.String" />
			<result property="modifyTime" column="spvCorporation_modifyTime" javaType="java.lang.String" />
		</association>
		<collection property="products" ofType="com.bs.plugins.custom.pc.product.entity.Product">
			<id property="id" column="product_id" javaType="java.lang.Long" />
			<result property="basicProductId" column="product_basicProductId" javaType="java.lang.Long" />
			<result property="spvId" column="product_spvId" javaType="java.lang.Long" />
			<result property="categoryId" column="product_categoryId" javaType="java.lang.Long" />
			<result property="assetCategoryCode" column="product_assetCategoryCode" javaType="java.lang.String" />
			<result property="name" column="product_name" javaType="java.lang.String" />
			<result property="code" column="product_code" javaType="java.lang.String" />
			<result property="totalAmount" column="product_totalAmount" javaType="java.lang.Integer" />
			<result property="surplusAmount" column="product_surplusAmount" javaType="java.lang.Integer" />
			<result property="firstPublishTime" column="product_firstPublishTime" javaType="java.lang.String" />
			<result property="umpayAccountNo" column="product_umpayAccountNo" javaType="java.lang.String" />
			<result property="description" column="product_description" javaType="java.lang.String" />
			<result property="status" column="product_status" javaType="java.lang.Integer" />
			<result property="distributeStatus" column="product_distributeStatus" javaType="java.lang.Integer" />
			<result property="creatorId" column="product_creatorId" javaType="java.lang.Long" />
			<result property="createTime" column="product_createTime" javaType="java.lang.String" />
			<result property="modifierId" column="product_modifierId" javaType="java.lang.Long" />
			<result property="modifyTime" column="product_modifyTime" javaType="java.lang.String" />
			<result property="isDelete" column="product_isDelete" javaType="java.lang.Integer" />
			<result property="sort" column="product_sort" javaType="java.lang.Long" />
			<result property="viewName" column="product_viewName" javaType="java.lang.String" />
		</collection>
	</resultMap>
	
	<select id="selectAssociations" resultMap="basicProductResult" parameterMap="basicProductParam">
		select
			basicProduct.Id basicProduct_id,
			basicProduct.SpvId basicProduct_spvId,
			basicProduct.Name basicProduct_name,
			basicProduct.Code basicProduct_code,
			basicProduct.TotalAmount basicProduct_totalAmount,
			basicProduct.InterestRateDate basicProduct_interestRateDate,
			basicProduct.ProfitExpirationDate basicProduct_profitExpirationDate,
			basicProduct.ActualExpirationDate basicProduct_actualExpirationDate,
			basicProduct.PaymentDate basicProduct_paymentDate,
			basicProduct.ActualPaymentDate basicProduct_actualPaymentDate,
			basicProduct.ExpectedProfitRatio basicProduct_expectedProfitRatio,
			basicProduct.ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			basicProduct.ExpectedProfit basicProduct_expectedProfit,
			basicProduct.ActualProfit basicProduct_actualProfit,
			basicProduct.Description basicProduct_description,
			basicProduct.CreateTime basicProduct_createTime,
			basicProduct.ModifierId basicProduct_modifierId,
			basicProduct.ModifyTime basicProduct_modifyTime,
			basicProduct.isDelete basicProduct_isDelete,
			basicProduct.CreatorId basicProduct_creatorId,	
			spvCorporation.Id spvCorporation_id,
			spvCorporation.Type spvCorporation_type,
			spvCorporation.Code spvCorporation_code,
			spvCorporation.UmpayAccountNo spvCorporation_umpayAccountNo,
			spvCorporation.AvailableAmount spvCorporation_availableAmount,
			spvCorporation.FrozenAmount spvCorporation_frozenAmount,
			spvCorporation.UmpayMerchantNo spvCorporation_umpayMerchantNo,
			spvCorporation.Name spvCorporation_name,
			spvCorporation.ShortName spvCorporation_shortName,
			spvCorporation.BankName spvCorporation_bankName,
			spvCorporation.BankCode spvCorporation_bankCode,
			spvCorporation.BankCardNumber spvCorporation_bankCardNumber,
			spvCorporation.SignaturePicPath spvCorporation_signaturePicPath,
			spvCorporation.Phone spvCorporation_phone,
			spvCorporation.Fax spvCorporation_fax,
			spvCorporation.PostCode spvCorporation_postCode,
			spvCorporation.Address spvCorporation_address,
			spvCorporation.Description spvCorporation_description,
			spvCorporation.Status spvCorporation_status,
			spvCorporation.CreateTime spvCorporation_createTime,
			spvCorporation.ModifyTime spvCorporation_modifyTime
		from PC_BasicProduct basicProduct
		inner join CC_SpvCorporation spvCorporation on spvCorporation.Id=basicProduct.SpvId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectBasicProductSpvCorporation" resultMap="basicProductResult" parameterMap="basicProductParam">
		select
			basicProduct.Id basicProduct_id,
			basicProduct.SpvId basicProduct_spvId,
			basicProduct.Name basicProduct_name,
			basicProduct.Code basicProduct_code,
			basicProduct.TotalAmount basicProduct_totalAmount,
			basicProduct.InterestRateDate basicProduct_interestRateDate,
			basicProduct.ProfitExpirationDate basicProduct_profitExpirationDate,
			basicProduct.ActualExpirationDate basicProduct_actualExpirationDate,
			basicProduct.PaymentDate basicProduct_paymentDate,
			basicProduct.ActualPaymentDate basicProduct_actualPaymentDate,
			basicProduct.ExpectedProfitRatio basicProduct_expectedProfitRatio,
			basicProduct.ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			basicProduct.ExpectedProfit basicProduct_expectedProfit,
			basicProduct.ActualProfit basicProduct_actualProfit,
			basicProduct.Description basicProduct_description,
			basicProduct.CreateTime basicProduct_createTime,
			basicProduct.ModifierId basicProduct_modifierId,
			basicProduct.ModifyTime basicProduct_modifyTime,
			basicProduct.isDelete basicProduct_isDelete,
			spvCorporation.Id spvCorporation_id,
			spvCorporation.Type spvCorporation_type,
			spvCorporation.Code spvCorporation_code,
			spvCorporation.UmpayAccountNo spvCorporation_umpayAccountNo,
			spvCorporation.AvailableAmount spvCorporation_availableAmount,
			spvCorporation.FrozenAmount spvCorporation_frozenAmount,
			spvCorporation.UmpayMerchantNo spvCorporation_umpayMerchantNo,
			spvCorporation.Name spvCorporation_name,
			spvCorporation.ShortName spvCorporation_shortName,
			spvCorporation.BankName spvCorporation_bankName,
			spvCorporation.BankCode spvCorporation_bankCode,
			spvCorporation.BankCardNumber spvCorporation_bankCardNumber,
			spvCorporation.SignaturePicPath spvCorporation_signaturePicPath,
			spvCorporation.Phone spvCorporation_phone,
			spvCorporation.Fax spvCorporation_fax,
			spvCorporation.PostCode spvCorporation_postCode,
			spvCorporation.Address spvCorporation_address,
			spvCorporation.Description spvCorporation_description,
			spvCorporation.Status spvCorporation_status,
			spvCorporation.CreateTime spvCorporation_createTime,
			spvCorporation.ModifyTime spvCorporation_modifyTime
		from PC_BasicProduct basicProduct
		inner join CC_SpvCorporation spvCorporation on spvCorporation.Id=basicProduct.SpvId
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectCollections" resultMap="basicProductResult" parameterMap="basicProductParam">
		select
			basicProduct.Id basicProduct_id,
			basicProduct.SpvId basicProduct_spvId,
			basicProduct.Name basicProduct_name,
			basicProduct.Code basicProduct_code,
			basicProduct.TotalAmount basicProduct_totalAmount,
			basicProduct.InterestRateDate basicProduct_interestRateDate,
			basicProduct.ProfitExpirationDate basicProduct_profitExpirationDate,
			basicProduct.ActualExpirationDate basicProduct_actualExpirationDate,
			basicProduct.PaymentDate basicProduct_paymentDate,
			basicProduct.ActualPaymentDate basicProduct_actualPaymentDate,
			basicProduct.ExpectedProfitRatio basicProduct_expectedProfitRatio,
			basicProduct.ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			basicProduct.ExpectedProfit basicProduct_expectedProfit,
			basicProduct.ActualProfit basicProduct_actualProfit,
			basicProduct.Description basicProduct_description,
			basicProduct.CreateTime basicProduct_createTime,
			basicProduct.ModifierId basicProduct_modifierId,
			basicProduct.ModifyTime basicProduct_modifyTime,
			basicProduct.isDelete basicProduct_isDelete,
			basicProduct.CreatorId basicProduct_creatorId,	
			product.Id product_id,
			product.BasicProductId product_basicProductId,
			product.SpvId product_spvId,
			product.CategoryId product_categoryId,
			product.AssetCategoryCode product_assetCategoryCode,
			product.Name product_name,
			product.Code product_code,
			product.TotalAmount product_totalAmount,
			product.SurplusAmount product_surplusAmount,
			product.FirstPublishTime product_firstPublishTime,
			product.UmpayAccountNo product_umpayAccountNo,
			product.Description product_description,
			product.Status product_status,
			product.DistributeStatus product_distributeStatus,
			product.CreatorId product_creatorId,
			product.CreateTime product_createTime,
			product.ModifierId product_modifierId,
			product.ModifyTime product_modifyTime,
			product.IsDelete product_isDelete,
			product.Sort product_sort,
			product.ViewName product_viewName
		from PC_BasicProduct basicProduct
		inner join PC_Product product on product.BasicProductId=basicProduct.Id
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>
	</select>
	
	
	<select id="selectBasicProductProduct" resultMap="basicProductResult" parameterMap="basicProductParam">
		select
			basicProduct.Id basicProduct_id,
			basicProduct.SpvId basicProduct_spvId,
			basicProduct.Name basicProduct_name,
			basicProduct.Code basicProduct_code,
			basicProduct.TotalAmount basicProduct_totalAmount,
			basicProduct.InterestRateDate basicProduct_interestRateDate,
			basicProduct.ProfitExpirationDate basicProduct_profitExpirationDate,
			basicProduct.ActualExpirationDate basicProduct_actualExpirationDate,
			basicProduct.PaymentDate basicProduct_paymentDate,
			basicProduct.ActualPaymentDate basicProduct_actualPaymentDate,
			basicProduct.ExpectedProfitRatio basicProduct_expectedProfitRatio,
			basicProduct.ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			basicProduct.ExpectedProfit basicProduct_expectedProfit,
			basicProduct.ActualProfit basicProduct_actualProfit,
			basicProduct.Description basicProduct_description,
			basicProduct.CreateTime basicProduct_createTime,
			basicProduct.ModifierId basicProduct_modifierId,
			basicProduct.ModifyTime basicProduct_modifyTime,
			basicProduct.isDelete basicProduct_isDelete,
			basicProduct.CreatorId basicProduct_creatorId,
				product.Id product_id,
	
				product.BasicProductId product_basicProductId,
	
				product.SpvId product_spvId,
	
				product.CategoryId product_categoryId,
	
				product.AssetCategoryCode product_assetCategoryCode,
	
				product.Name product_name,
	
				product.Code product_code,
	
				product.TotalAmount product_totalAmount,
	
				product.SurplusAmount product_surplusAmount,
	
				product.FirstPublishTime product_firstPublishTime,
	
				product.UmpayAccountNo product_umpayAccountNo,
	
				product.Description product_description,
	
				product.Status product_status,
	
				product.DistributeStatus product_distributeStatus,
	
				product.CreatorId product_creatorId,
	
				product.CreateTime product_createTime,
	
				product.ModifierId product_modifierId,
	
				product.ModifyTime product_modifyTime,
	
				product.IsDelete product_isDelete,
	
				product.Sort product_sort,
	
				product.ViewName product_viewName
	
		from PC_BasicProduct basicProduct
		inner join PC_Product product on product.BasicProductId=basicProduct.Id
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectList" resultMap="basicProductResult" parameterMap="basicProductParam">
		select 
			Id basicProduct_id,
			SpvId basicProduct_spvId,
			Name basicProduct_name,
			Code basicProduct_code,
			TotalAmount basicProduct_totalAmount,
			InterestRateDate basicProduct_interestRateDate,
			ProfitExpirationDate basicProduct_profitExpirationDate,
			ActualExpirationDate basicProduct_actualExpirationDate,
			PaymentDate basicProduct_paymentDate,
			ActualPaymentDate basicProduct_actualPaymentDate,
			ExpectedProfitRatio basicProduct_expectedProfitRatio,
			ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			ExpectedProfit basicProduct_expectedProfit,
			ActualProfit basicProduct_actualProfit,
			Description basicProduct_description,
			CreateTime basicProduct_createTime,
			ModifierId basicProduct_modifierId,
			ModifyTime basicProduct_modifyTime,
			isDelete basicProduct_isDelete,
			CreatorId basicProduct_creatorId
		from PC_BasicProduct
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>
	</select>
	
	<select id="selectAll" resultMap="basicProductResult">
		select 
			Id basicProduct_id,
			SpvId basicProduct_spvId,
			Name basicProduct_name,
			Code basicProduct_code,
			TotalAmount basicProduct_totalAmount,
			InterestRateDate basicProduct_interestRateDate,
			ProfitExpirationDate basicProduct_profitExpirationDate,
			ActualExpirationDate basicProduct_actualExpirationDate,
			PaymentDate basicProduct_paymentDate,
			ActualPaymentDate basicProduct_actualPaymentDate,
			ExpectedProfitRatio basicProduct_expectedProfitRatio,
			ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			ExpectedProfit basicProduct_expectedProfit,
			ActualProfit basicProduct_actualProfit,
			Description basicProduct_description,
			CreateTime basicProduct_createTime,
			ModifierId basicProduct_modifierId,
			ModifyTime basicProduct_modifyTime,
			isDelete basicProduct_isDelete,
			CreatorId basicProduct_creatorId
		from PC_BasicProduct
	</select>
	
	<select id="selectOneById"  resultMap="basicProductResult" parameterMap="basicProductParam">
		select 
			Id basicProduct_id,
			SpvId basicProduct_spvId,
			Name basicProduct_name,
			Code basicProduct_code,
			TotalAmount basicProduct_totalAmount,
			InterestRateDate basicProduct_interestRateDate,
			ProfitExpirationDate basicProduct_profitExpirationDate,
			ActualExpirationDate basicProduct_actualExpirationDate,
			PaymentDate basicProduct_paymentDate,
			ActualPaymentDate basicProduct_actualPaymentDate,
			ExpectedProfitRatio basicProduct_expectedProfitRatio,
			ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			ExpectedProfit basicProduct_expectedProfit,
			ActualProfit basicProduct_actualProfit,
			Description basicProduct_description,
			CreateTime basicProduct_createTime,
			ModifierId basicProduct_modifierId,
			ModifyTime basicProduct_modifyTime,
			isDelete basicProduct_isDelete,
			CreatorId basicProduct_creatorId
		from PC_BasicProduct where Id=${id}
	</select>		
	
	<select id="selectPaginatedList"  resultMap="basicProductResult" parameterMap="basicProductParam">
		select 
			Id basicProduct_id,
			SpvId basicProduct_spvId,
			Name basicProduct_name,
			Code basicProduct_code,
			TotalAmount basicProduct_totalAmount,
			InterestRateDate basicProduct_interestRateDate,
			ProfitExpirationDate basicProduct_profitExpirationDate,
			ActualExpirationDate basicProduct_actualExpirationDate,
			PaymentDate basicProduct_paymentDate,
			ActualPaymentDate basicProduct_actualPaymentDate,
			ExpectedProfitRatio basicProduct_expectedProfitRatio,
			ActualExpectedProfitRatio basicProduct_actualExpectedProfitRatio,
			ExpectedProfit basicProduct_expectedProfit,
			ActualProfit basicProduct_actualProfit,
			Description basicProduct_description,
			CreateTime basicProduct_createTime,
			ModifierId basicProduct_modifierId,
			ModifyTime basicProduct_modifyTime,
			isDelete basicProduct_isDelete,
			CreatorId basicProduct_creatorId
		from PC_BasicProduct
		order by Id asc
		limit ${start},${offset}
	</select>
	
	<select id="getCount"  resultType="long" parameterMap="basicProductParam">
		select count(*) from PC_BasicProduct
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>	
	</select>
	
	<update id="updateById" parameterMap="basicProductParam">
		update PC_BasicProduct
		<set>
			<trim prefixOverrides=",">
				<if test="id != null">,Id=${id}</if>
				<if test="spvId != null">,SpvId=${spvId}</if>
				<if test="name != null and name != ''">,Name=#{name}</if>
				<if test="code != null and code != ''">,Code=#{code}</if>
				<if test="totalAmount != null">,TotalAmount=${totalAmount}</if>
               		 <if test="interestRateDate != null  and interestRateDate != ''">,InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">,ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">,ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">,PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">,ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">,ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">,ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">,ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">,ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">,Description=#{description}</if>
               		 <if test="createTime != null  and createTime != ''">,CreateTime=#{createTime}</if>
				<if test="modifierId != null">,ModifierId=${modifierId}</if>
                    ,ModifyTime=now()
				<if test="isDelete != null">,isDelete=${isDelete}</if>
				<if test="creatorId != null">,CreatorId=${creatorId}</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	<update id="updateCompleteById" parameterMap="basicProductParam">
		update PC_BasicProduct
		<set>
			<trim prefixOverrides=",">
                            ,Id=${id}
                            ,SpvId=${spvId}
						,Name=#{name}
						,Code=#{code}
                        <if test="totalAmount != null">,TotalAmount=${totalAmount}</if>
                        <if test="totalAmount == null">,TotalAmount= 0</if>
                        <if test="interestRateDate != null  and interestRateDate != ''">,InterestRateDate=#{interestRateDate}</if>
						,ProfitExpirationDate=#{profitExpirationDate}
						,ActualExpirationDate=#{actualExpirationDate}
						,PaymentDate=#{paymentDate}
						,ActualPaymentDate=#{actualPaymentDate}
						,ExpectedProfitRatio=${expectedProfitRatio}
						,ActualExpectedProfitRatio=${actualExpectedProfitRatio}
						,ExpectedProfit=${expectedProfit}
						,ActualProfit=${actualProfit}
						,Description=#{description}
                            ,ModifierId=${opId}
                            ,ModifyTime=now()
                    	<if test="isDelete != null">,isDelete=${isDelete}</if>
                        <if test="isDelete == null">,isDelete= 0</if>
			</trim>
		</set>
		where Id=${id}
	</update>
	
	<insert id="insert" parameterMap="basicProductParam">
		insert into PC_BasicProduct
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,Id</if>
			<if test="spvId != null">,SpvId</if>
			<if test="name != null and name != ''">,Name</if>
			<if test="code != null and code != ''">,Code</if>
			<if test="totalAmount != null">,TotalAmount</if>
                <if test="interestRateDate != null and interestRateDate != ''">,InterestRateDate</if>
			<if test="profitExpirationDate != null and profitExpirationDate != ''">,ProfitExpirationDate</if>
			<if test="actualExpirationDate != null and actualExpirationDate != ''">,ActualExpirationDate</if>
			<if test="paymentDate != null and paymentDate != ''">,PaymentDate</if>
			<if test="actualPaymentDate != null and actualPaymentDate != ''">,ActualPaymentDate</if>
			<if test="expectedProfitRatio != null">,ExpectedProfitRatio</if>
			<if test="actualExpectedProfitRatio != null">,ActualExpectedProfitRatio</if>
			<if test="expectedProfit != null">,ExpectedProfit</if>
			<if test="actualProfit != null">,ActualProfit</if>
			<if test="description != null and description != ''">,Description</if>
                ,CreateTime
			<if test="modifierId != null">,ModifierId</if>
                <if test="modifyTime != null and modifyTime != ''">,ModifyTime</if>
			<if test="isDelete != null">,isDelete</if>
			<if test="creatorId != null">,CreatorId</if>
		</trim>
		values
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id != null">,${id}</if>
			<if test="spvId != null">,${spvId}</if>
			<if test="name != null and name != ''">,#{name}</if>
			<if test="code != null and code != ''">,#{code}</if>
			<if test="totalAmount != null">,${totalAmount}</if>
            	<if test="interestRateDate != null and interestRateDate != ''">,#{interestRateDate}</if>
			<if test="profitExpirationDate != null and profitExpirationDate != ''">,#{profitExpirationDate}</if>
			<if test="actualExpirationDate != null and actualExpirationDate != ''">,#{actualExpirationDate}</if>
			<if test="paymentDate != null and paymentDate != ''">,#{paymentDate}</if>
			<if test="actualPaymentDate != null and actualPaymentDate != ''">,#{actualPaymentDate}</if>
			<if test="expectedProfitRatio != null">,${expectedProfitRatio}</if>
			<if test="actualExpectedProfitRatio != null">,${actualExpectedProfitRatio}</if>
			<if test="expectedProfit != null">,${expectedProfit}</if>
			<if test="actualProfit != null">,${actualProfit}</if>
			<if test="description != null and description != ''">,#{description}</if>
                ,now()
			<if test="modifierId != null">,${modifierId}</if>
            	<if test="modifyTime != null and modifyTime != ''">,#{modifyTime}</if>
			<if test="isDelete != null">,${isDelete}</if>
			<if test="creatorId != null">,${creatorId}</if>
		</trim>
		<selectKey keyProperty="generatedKey" resultType="Long">
			  select LAST_INSERT_ID() as generatedKey   
		</selectKey>	
	</insert>
	
	<delete id="deleteById" parameterMap="basicProductParam">
		delete from PC_BasicProduct where Id=${id}
	</delete>
	
	<delete id="deleteAll" parameterMap="basicProductParam">
		delete from PC_BasicProduct
	</delete>
	
	<delete id="delete" parameterMap="basicProductParam">
		delete from PC_BasicProduct
		<where>
			<trim prefixOverrides="and">
				<if test="id != null">and Id=${id}</if>
				<if test="spvId != null">and SpvId=${spvId}</if>
				<if test="name != null and name != ''">and Name=#{name}</if>
				<if test="code != null and code != ''">and Code=#{code}</if>
				<if test="totalAmount != null">and TotalAmount=${totalAmount}</if>
				<if test="interestRateDate != null and interestRateDate != ''">and InterestRateDate=#{interestRateDate}</if>
				<if test="profitExpirationDate != null and profitExpirationDate != ''">and ProfitExpirationDate=#{profitExpirationDate}</if>
				<if test="actualExpirationDate != null and actualExpirationDate != ''">and ActualExpirationDate=#{actualExpirationDate}</if>
				<if test="paymentDate != null and paymentDate != ''">and PaymentDate=#{paymentDate}</if>
				<if test="actualPaymentDate != null and actualPaymentDate != ''">and ActualPaymentDate=#{actualPaymentDate}</if>
				<if test="expectedProfitRatio != null">and ExpectedProfitRatio=${expectedProfitRatio}</if>
				<if test="actualExpectedProfitRatio != null">and ActualExpectedProfitRatio=${actualExpectedProfitRatio}</if>
				<if test="expectedProfit != null">and ExpectedProfit=${expectedProfit}</if>
				<if test="actualProfit != null">and ActualProfit=${actualProfit}</if>
				<if test="description != null and description != ''">and Description=#{description}</if>
				<if test="createTime != null and createTime != ''">and CreateTime=#{createTime}</if>
				<if test="modifierId != null">and ModifierId=${modifierId}</if>
				<if test="modifyTime != null and modifyTime != ''">and ModifyTime=#{modifyTime}</if>
				<if test="isDelete != null">and isDelete=${isDelete}</if>
				<if test="creatorId != null">and CreatorId=${creatorId}</if>
			</trim>
		</where>	
	</delete>
</mapper>